<header class="intro-part">
    <div class="row-default">
        <div class="logo-area">
            <h1 class="ivi-logo">
                <a href="http://www.ivi.int/" target="_blank">
                    <img src="/images/ivi-logo-full-white@2x-min.png" alt="ivi-logo" width="250px" height="80px">
                </a>
            </h1>
            <h2 class="impact-20-logo">
                <a href="http://www.ivi.int/" target="_blank">
                    <img src="/images/impact-20-logo@2x-min.png" alt="impact-20-logo" width="93px" height="95px">
                </a>
            </h2>
        </div>
        <div class="slogan">
            <img src="/images/intro-title@2x-min.png" alt="slogan">
        </div>
        <button type="button" class="btn-scroll">
            <img src="/images/btn-move-scroll@2x-min.png" alt="scroll" width="59px" height="77px">
        </button>
    </row>
</header>
<nav class="global-nav">
    <div class="row-default">
        <button type="button" class="btn-nav">
            Annual Letter
        </button>
        <button type="button" class="btn-nav">
            Development<br>
            & Delivery
        </button>
        <button type="button" class="btn-nav">
            Capacity<br>
            Building
        </button>
        <button type="button" class="btn-nav">
            Impact
        </button>
        <button type="button" class="btn-nav">
            Partners
        </button>
        <button type="button" class="btn-nav">
            Finances
        </button>
        <button type="button" class="btn-nav">
            Leadership
        </button>
    </div>
</nav>
<section class="annual-letter">
    <div class="row-default row-620px">
        <h2 class="chapter-title-small">
            Discover, develop and deliver safe effective and affordable vaccines  for global public health
        </h2>
        <div class="chapter-link-caption">
            Dear Friends,
        </div>
        <button type="button" class="btn-basic">
            <i class="material-icons">drafts</i> Annual Letter
        </button>
    </div>
</section>
<section class="development-part-01">
    <div class="row-default row-735px">
        <h2 class="chapter-title-large">
            Vaccine Development & Delivery
        </h2>
        <h3 class="chapter-subtitle-large">
            Making vaccines available and accessible for the world because everyone has the right to good health
        </h3>
    </div>
    <button type="button" class="btn-scroll">
        <img src="/images/btn-move-seetheimpact@2x-min.png" alt="scroll" width="100px" height="auto">
    </button>
</section>
























<div class="wrapper" style="padding: 20px; margin-top: 700px;">
    <p>
        We also work on optimizing vaccine use. The oral cholera vaccine is administered in two doses over a 14-day interval however a single-dose regimen would be advantageous for outbreaks, refugee camps and other emergency situations. IVI is partnering with icddr,b on a single-dose study in Bangladesh. Subjects were followed up six months after vaccination, showing <a href="#" class="text-link">the single dose is mildly protective for all cholera cases while more protective for severe cholera</a>. Follow-ups will continue to be made at 12 months, 18 months and 24 months.
    </p>
    <div class="disease-section-title" style="margin: 20px 0px;">
        Middle East Respiratory Syndrome<br>
        (MERS)
    </div>
    <div class="disease-section-subtitle" style="margin: 20px 0px;">
        The Typhoid Program aims to accelerate the development and introduction of new-generation typhoid vaccines in two ways: <strong class="text-strong">1) development of new typhoid conjugate vaccines in collaboration with manufacturers;</strong> and <strong class="text-strong">2) generation of evidence on the burden of typhoid in Africa.</strong>
    </div>
    <div class="disease-nav-title" style="margin: 20px 0px;">
        disease-nav-desc
    </div>
    <div class="disease-nav-desc" style="margin: 20px 0px;">
        We accelerate the development and delivery of oral cholera vaccines against epidemic and endemic cholera.
    </div>
    <div class="chapter-link-caption" style="background: lightgrey; margin: 20px 0px;">
        Dear Friends,
    </div>
    <div class="chapter-title-xlarge" style="margin: 20px 0px;">
        Impact
    </div>
    <div class="chapter-title-large" style="margin: 20px 0px;">
        Vaccine Development & Delivery
    </div>
    <div class="chapter-title-medium" style="background: lightgrey; margin: 20px 0px;">
        Impact of the Oral Cholera Vaccine
    </div>
    <div class="chapter-title-small" style="margin: 20px 0px;">
        Discover, develop and deliver safe effective and <br>
        affordable vaccines  for global public health
    </div>
    <div class="chapter-subtitle-large" style="background: lightgrey; margin: 20px 0px;">
        We help build knowledge in the vaccine spectrum<br>
        through training, technology transfer, technical assistance,<br>
        and educational partnerships.
    </div>
    <div class="chapter-subtitle-medium" style="background: lightgrey; margin: 20px 0px;">
        In 2016, IVI scientists authored or co-authored 93 articles that were published in peer-reviewed scientific journals, among which 84 were in Scientific Citation Index (SCI) journals.  Some articles were published in journals with a high impact factor such as <strong class="text-italic">The New England Journal of Medicine and Nature Medicine.</strong>
    </div>
    <div class="chapter-subtitle-small" style="background: lightgrey; margin: 20px 0px;">
        See the rest of our leadership <a href="#" class="text-link text-purple-900">here</a><br>
        <a href="#" class="text-link text-purple-900">Our Board of Trustees</a><br>
        <a href="#" class="text-link text-purple-900">Our Scientific Advisory Group</a>
    </div>
    <div class="chapter-subtitle-xsmall" style="margin: 20px 0px;">
        2016 Financial Summary
    </div>
    <div class="img-caption" style="margin: 20px 0px;">
        In 2016, IVI and GeneOne Life Sciences signed a collaboration and access <a href="#" class="text-link">agreement</a> to support GeneOne’s MERS DNA vaccine candidate.
    </div>
</div>