<nav class="global-nav">
    <div class="row-default">
        <div class="menu-bar">
            <a href="#" class="menu padding-top-23px">Annual Letter</a>
            <a href="#" class="menu padding-top-13px">Development <br>& Delivery</a>
            <a href="#" class="menu padding-top-13px">Capacity <br>Building</a>
            <a href="#" class="menu padding-top-23px">Impact</a>
            <a href="#" class="menu padding-top-23px">Partners</a>
            <a href="#" class="menu padding-top-23px">Our Donors</a>
            <a href="#" class="menu padding-top-23px">Leadership</a>
            <a href="#" class="menu-last padding-top-23px">Finances</a>
        </div>
    </div>
</nav>

<header class="intro-part">
    <div class="row-default">
        <div class="logo-area">
            <h1 class="ivi-logo">
                <a href="http://www.ivi.int/" target="_blank">
                    <img src="/images/ivi-logo-full-white@2x-min.png" alt="ivi-logo">
                </a>
            </h1>
            <h2 class="impact-20-logo">
                <a href="http://www.ivi.int/" target="_blank">
                    <img src="/images/impact-20-logo@2x-min.png" alt="impact-20-logo">
                </a>
            </h2>
        </div>
        <div class="slogan">
            <img src="/images/intro-title@2x-min.png" alt="slogan">
        </div>
        <button type="button" class="btn-scroll">
            <img src="/images/btn-move-scroll@2x-min.png" alt="scroll">
        </button>
    </div>
</header>
<section class="annual-letter">
    <div class="row-default row-620px">
        <h2 class="chapter-title-small">
            Discover, develop and deliver safe effective and affordable vaccines  for global public health
        </h2>
        <div class="chapter-link-caption">
            Dear Friends,
        </div>
        <button type="button" class="btn-basic">
            <i class="material-icons">&#xE151;</i> Annual Letter
        </button>
    </div>
</section>
<section class="development-part-01">
    <div class="row-default row-735px">
        <h2 class="chapter-title-large text-lightblue-500">
            Vaccine Development & Delivery
        </h2>
        <h3 class="chapter-subtitle-large">
            Making vaccines available and accessible for the world because everyone has the right to good health
        </h3>
    </div>
    <button type="button" class="btn-scroll">
        <img src="/images/btn-move-seetheimpact@2x-min.png" alt="scroll">
    </button>
</section>
<div class="development-part-02">
    <div class="row-default">
        <p class="content text-cyan-400">We develop vaccines against infectious diseases that are of global health concern (e.g., MERS, Zika) and that affect developing countries (e.g., cholera, typhoid, dengue). Vaccine development and commercialization can be costly, lengthy and fraught with risk, and there are few incentives for companies to pursue development of a vaccine against a neglected disease and/or with a limited market.<br>  
        <br>
        IVI bridges the gap by partnering with vaccine manufacturers, governments and philanthropies, and mobilizing resources and funding to develop and license vaccines for the public-sector market. We also drive innovation by transferring technology we develop in-house to companies, and partner with them on clinical testing and production.  <br>
        <br>
        In exchange for technology and support, manufacturers make a proportion of their product accessible to the public sector at a low price. As we do not make a profit from intellectual property, we partner with multiple companies on tech transfer, which helps ensure sufficient vaccine supply for the public-sector market.  <br>
        <br>
        We brought to market a low-cost oral cholera vaccine that is WHO-prequalified and stockpiled by WHO for emergency use. <strong class="text-purple-900">More than 4 million doses of the vaccine</strong> has been deployed to prevent and control cholera in <strong class="text-purple-900">13 countries</strong>.  IVI is currently developing vaccines against typhoid and MERS. </p>
    </div>
    <div class="row-default margin-bottom-100px">
        <div class="col-1_2 col-right-space">
            <div class="number-box">
                <strong class="featured-number text-cyan-400">4,000,000</strong>
                <p class="desc">
                    the number of <span class="text-cyan-400">doses of vaccine</span><br>
                    deployed to prevent and control cholera
                </p>
            </div>
        </div>
        <div class="col-1_2">
            <div class="number-box">
                <strong class="featured-number text-cyan-400">13</strong>
                <p class="desc">
                    the number of <span class="text-cyan-400">countries</span><br>
                    the vaccine has been deployed
                </p>
            </div>
        </div>
    </div>
</div>
<div class="development-part-03">
    <div class="shadow-separator"></div>
    <div class="row-default">
        <div class="col-1_2 col-right-space">
            <div class="colincol-1_2 colincol-right-space">
                <div class="section-nav">
                    <img src="/images/cholera-thumb@2x-min.png" alt="cholera-thumb" class="thumb">
                    <h3 class="disease-nav-title">Cholera</h3>
                    <p class="disease-nav-desc">
                        We accelerate the development and delivery of oral cholera vaccines against epidemic and endemic cholera.
                    </p>
                    <button type="button" class="btn-scroll">
                        <img src="/images/btn-move-roundarrow@2x-min.png" alt="move-button">
                    </button>
                </div>
            </div>
            <div class="colincol-1_2">
                <div class="section-nav">
                    <img src="/images/typhoid-thumb@2x-min.png" alt="cholera-thumb" class="thumb">
                    <h3 class="disease-nav-title">Typhoid</h3>
                    <p class="disease-nav-desc">
                        We accelerate the development and delivery of new-generation typhoid conjugate vaccines.
                    </p>
                    <button type="button" class="btn-scroll">
                        <img src="/images/btn-move-roundarrow@2x-min.png" alt="move-button">
                    </button>
                </div>
            </div>
        </div>
        <div class="col-1_2">
            <div class="colincol-1_2 colincol-right-space">
                <div class="section-nav">
                    <img src="/images/dengue-thumb@2x-min.png" alt="cholera-thumb" class="thumb">
                    <h3 class="disease-nav-title">Dengue</h3>
                    <p class="disease-nav-desc">
                        We promote research and development of prevention and control measures against dengue and other Aedes-transmitted diseases.
                    </p>
                    <button type="button" class="btn-scroll">
                        <img src="/images/btn-move-roundarrow@2x-min.png" alt="move-button">
                    </button>
                </div>
            </div>
            <div class="colincol-1_2">
                <div class="section-nav">
                    <img src="/images/mers-thumb@2x-min.png" alt="cholera-thumb" class="thumb">
                    <h3 class="disease-nav-title">MERS</h3>
                    <p class="disease-nav-desc">
                        We accelerate the development of MERS vaccines.
                    </p>
                    <button type="button" class="btn-scroll">
                        <img src="/images/btn-move-roundarrow@2x-min.png" alt="move-button">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="disease-part bg-lightgrey">
    <div class="row-default">
        <div class="col-1_3 col-right-space">
            <img src="/images/cholera-img-01@2x-min.png" alt="cholera-img" class="disease-main-img">
        </div>
        <div class="col-2_3">
            <h3 class="disease-section-title">
                Cholera
            </h3>
            <p class="disease-section-subtitle">
                The Cholera Program aims to accelerate the development and introduction of oral cholera vaccines against endemic and epidemic cholera through a public-private partnership approach.
            </p>
            <h4 class="content-title text-cyan-400 border-top-cyan-400">
                Development
            </h4>
            <p class="disease-content">
                Our cholera story dates back to 2006 when IVI reformulated an oral cholera vaccine (OCV). The technology was transferred to manufacturers and IVI partnered with some of them on development and commercialization. Since then, two oral cholera vaccines, Shanchol™ and Euvichol® are WHO-prequalified and available for purchase.
            </p>
        </div>
    </div>
    <div class="row-default">
        <div class="col-1_3 col-right-space">
            <div class="number-box">
                <strong class="featured-number text-cyan-400">1</strong><span class="featured-number-caption text-cyan-400">First low-cost cholera vaccine</span>
                <p class="desc">
                    IVI developed the world's first affordable oral cholera vaccine for developing countries
                </p>
            </div>
            <img class="img-box" src="/images/cholera-img-02@2x-min.jpg" alt="euvichol">
            <div class="img-caption">
                Euvichol®
            </div>
        </div>
        <div class="col-2_3">
            <table class="disease-table">
                <tr>
                    <th class="col-35">Product</th>
                    <th class="col-65">Status</th>
                </tr>
                <tr>
                    <td class="td-1 text-bold">Shanchol™ (Shantha Biotechnics; part of the Sanofi group), India</td>
                    <td class="td-2">
                        <ul>
                            <li>Licensed in India in 2009; WHO-prequalified in 2011</li>
                            <li>Used in vaccination campaigns against endemic and epidemic cholera in Ethiopia, Nepal and Malawi that IVI helped coordinate in 2015</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="td-1 text-bold">Euvichol® (EuBiologics), South Korea</td>
                    <td class="td-2">
                        <ul>
                            <li>Licensed in South Korea in January 2015</li>
                            <li>WHO-prequalified in December 2015; thimerosol-free version prequalified in September 2016</li>
                            <li>Additional manufacturer will help double global supply to 6 million doses for 2016</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="td-1 text-bold">Cholvax® ( Incepta Vaccine), Bangladesh</td>
                    <td class="td-2">
                        <ul>
                            <li>Under clinical development; clinical trials initiated in 2016</li>
                            <li>To be licensed in Bangladesh only; country has very high burden of cholera</li>
                        </ul>
                    </td>
                </tr>
            </table>
            <p class="disease-content">
                We continue to work on the oral cholera vaccine. A thimerosal-free version of Euvichol® was WHO-prequalified in September 2016. In addition to removing thimerosal from the vaccine, production capacity was scaled up to 25 million doses per year through a new 600-liter fermenter. Even though Euvichol® was prequalified in 2015, these modifications required a second approval by the WHO Prequalification Program.
            </p>
            <p class="disease-content">
                We also work on optimizing vaccine use. The oral cholera vaccine is administered in two doses over a 14-day interval however a single-dose regimen would be advantageous for outbreaks, refugee camps and other emergency situations. IVI is partnering with icddr,b on a single-dose study in Bangladesh. Subjects were followed up six months after vaccination, showing <a href="#" target="_blank" class="text-link">the single dose is mildly protective for all cholera cases while more protective for severe cholera</a>. Follow-ups will continue to be made at 12 months, 18 months and 24 months.
            </p>
        </div>
    </div>
</section>
<section class="disease-part bg-less-lightgrey">
    <div class="row-default">
        <h4 class="content-title text-cyan-400 border-top-cyan-400">
            Delivery
        </h4>
        <p class="disease-content">
            We support delivery efforts of the oral cholera vaccine. In 2016, one million doses of Euvichol was provided by EuBiologics to Haiti as part of public health efforts to control the outbreak in the country. IVI, with Rotary International and Nepalese health authorities conducted a cholera vaccination campaign in Banke, Nepal with Euvichol, vaccinating about 27,000 people.
        </p>
    </div>
    <div class="row-default">
        <div class="col-1_2 col-right-space">
            <img class="img-box" src="/images/cholera-img-03@2x-min.jpg" alt="delivery-img-01">
            <div class="img-caption">
                Social mobilization campaign in Banke, Nepal
            </div>
        </div>
        <div class="col-1_2">
            <img class="img-box" src="/images/cholera-img-04@2x-min.jpg" alt="delivery-img-02">
            <div class="img-caption">
                © Lorenzo Pezzoli / WHO. An emergency vaccination campaign was implemented in 2015 in response to cholera outbreaks following flooding in Nsanje district; IVI is conducting surveillance to measure vaccine effectiveness.
            </div>
        </div>
    </div>
    <div class="row-default">
        <p class="disease-content">
            We also conduct the Cholera Surveillance in Malawi (CSIMA) project, funded by the Bill & Melinda Gates Foundation (BMGF). CSIMA aims to establish a cholera surveillance platform in two districts of Malawi to assess effectiveness of the oral cholera vaccine following an emergency vaccination campaign in early 2015.  This evidence will be useful to funders, policymakers and countries who have cited the need for more data on use of the vaccine in real-life situations to support decision-making on vaccine introduction.
        </p>
    </div>
</section>
<section class="disease-part">
    <div class="row-default">
        <div class="col-1_3 col-right-space">
            <img src="/images/typhoid-img-01@2x-min.png" alt="typhoid-img" class="disease-main-img">
        </div>
        <div class="col-2_3">
            <h3 class="disease-section-title">
                Typhoid
            </h3>
            <p class="disease-section-subtitle">
                The Typhoid Program aims to accelerate the development and introduction of new-generation typhoid vaccines in two ways: <strong class="text-bold">1) development of new typhoid conjugate vaccines in collaboration with manufacturers;</strong> and <strong class="text-bold">2) generation of evidence on the burden of typhoid in Africa.</strong>
            </p>
            <img class="img-box" src="/images/typhoid-img-02@2x-min.jpg" alt="typhoid-img-01">
            <div class="img-caption">
                Justin Im/ IVI. Infants are at high risk for typhoid; current vaccines don’t protect them against this disease, which is why IVI is developing a new typhoid vaccine that can.
            </div>
            <h4 class="content-title text-cyan-400 border-top-cyan-400">
                Development
            </h4>
            <img class="img-box margin-bottom-20px" src="/images/typhoid-img-03@2x-min.jpg" alt="typhoid-img-02">
            <p class="disease-content">
                We developed a typhoid conjugate vaccine using technology from U.S. National Institutes of Health, conjugating the Salmonella Typhi Vi polysaccharide to diphtheria toxoid (Vi-DT). The new vaccine has the advantage of conferring protection in infants (a high-risk group) against typhoid. IVI transferred the technology to SK Chemicals of South Korea and Biofarma of Indonesia and is working with them on preclinical and clinical development for vaccine licensure and WHO-prequalification. More recently, IVI started a partnership with Incepta Vaccine of Bangladesh to develop the Vi-DT vaccine. Other typhoid conjugate vaccines are on the market and IVI will work with the manufacturers on getting their vaccines WHO-prequalified to ensure the vaccine is globally available and accessible. <br>
                <br>
                In 2016, work continued on Vi-DT vaccine development. In particular, the phase I trial for SK Chemicals’ vaccine candidate was initiated in the Philippines, a major milestone in the vaccine’s clinical development pathway.
            </p>
        </div>
    </div>
</section>
<section class="disease-part bg-lightgrey">
    <div class="row-default">
        <div class="col-1_3 col-right-space">&nbsp;</div>
        <div class="col-2_3">
            <h4 class="content-title text-cyan-400 border-top-cyan-400">
                Delivery
            </h4>
        </div>
    </div>
    <div class="row-default">
        <div class="col-1_3 col-right-space">
            <div class="special-quote">
                <img src="/images/quote-icon-first@2x-min.png" alt="quote-icon-first" class="quote-icon">
                <p class="quote-content">
                    One of the major findings…is confirmation that enteric fever caused by S. Typhi and non-typhoidal Salmonella is a significant problem in Africa.
                </p>
                <img src="/images/quote-icon-last@2x-min.png" alt="quote-icon-last" class="quote-icon">
            </div>
        </div>
        <div class="col-2_3">
            <img class="img-box" src="/images/typhoid-img-04@2x-min.jpg" alt="typhoid-img-03">
            <div class="img-caption">
                Justin Im /IVI  Blood culture samples collected for the typhoid surveillance program.
            </div>
            <p class="disease-content">
                We conduct epidemiologic and socio-economic research of typhoid in Africa in order to close the knowledge gap on disease burden in the continent. While typhoid is recognized as a public health problem in Asia and Africa, information on its true burden is lacking, making it difficult to justify vaccination policy and to assess the impact of typhoid vaccination. <br>
                <br>
                From 2011 to 2015, we conducted the <a href="#" target="_blank" class="text-link">Typhoid Fever Surveillance in Africa Program (TSAP)</a>, which evaluated the typhoid burden through standardized surveillance at 13 sites in 10 sub-Saharan African countries. One of the major findings of TSAP is confirmation that enteric fever caused by <a href="#" target="_blank" class="text-link">S. Typhi and non-typhoidal Salmonella is a significant problem in Africa</a>. IVI launched a follow-on study, Severe Typhoid in Africa (SETA) in 2016 to assess severe disease outcomes of invasive Salmonella infections and its economic burden at several sites in Africa.
            </p>
        </div>
    </div>
</section>
<section class="disease-part bg-less-lightgrey">
    <div class="row-default">
        <div class="col-1_3 col-right-space">
            <img src="/images/dengue-img-01@2x-min.png" alt="dengue-img" class="disease-main-img">
        </div>
        <div class="col-2_3">
            <h3 class="disease-section-title">
                Dengue
            </h3>
            <p class="disease-section-subtitle">
                IVI is the lead agency for the Global Dengue & Aedes-Transmitted Diseases Consortium (GDAC), a consortium of four partners – IVI, the International Vaccine Access Center (IVAC) at Johns Hopkins University, Sabin Vaccine Institute, and the Partnership for Dengue Control (PDC) at Fondation Merieux. 
            </p>
            <img class="img-box margin-bottom-20px" src="/images/dengue-img-02@2x-min.jpg" alt="gdac">
        </div>
    </div>
    <div class="row-default">
        <div class="col-1_3 col-right-space">
            <div class="special-quote">
                <img src="/images/quote-icon-first@2x-min.png" alt="quote-icon-first" class="quote-icon">
                <p class="quote-content">
                    GDAC aims to promote data generation and synthesis, accelerate innovations in research, and support implementation of new and existing tools…for comprehensive prevention and control measures for Aedes-transmitted diseases including dengue, Zika, yellow fever and chikungunya.
                </p>
                <img src="/images/quote-icon-last@2x-min.png" alt="quote-icon-last" class="quote-icon">
            </div>
        </div>
        <div class="col-2_3">
            <p class="disease-content">
                <a href="#" target="_blank" class="text-link">GDAC</a> aims to promote data generation and synthesis, accelerate innovations in research, and support implementation of new and existing tools. Each partner has specific areas of expertise: IVAC focuses on health economics, strategic demand forecasting and vaccine development; Sabin focuses on communications and advocacy; PDC focuses on integration of vaccine and vector control, diagnostics, clinical case management, and pathogenesis. Besides leading the consortium, IVI is responsible for disease burden and epidemiology, laboratory testing, modeling, policy and access, and regulatory issues. <br>
                <br>
                <a href="#" target="_blank" class="text-link">GDAC</a> was created in August 2016 by joining the <a href="#" target="_blank" class="text-link">Dengue Vaccine Initiative (DVI)</a> with the <a href="#" target="_blank" class="text-link">Partnership for Dengue Control</a>, with the intent to expand the mission from dengue vaccines to a broader scope encompassing comprehensive prevention and control measures for Aedes-transmitted diseases including dengue, Zika, yellow fever and chikungunya. <br>
                <br>
                Specific projects by DVI continue to be conducted with support by the Bill & Melinda Gates Foundation. These projects include dengue burden field studies in Africa, Asia and South America, support for national regulatory authorities (NRAs) reviewing dengue vaccine candidates, and convening of dengue prevention board meetings to address key issues in prevention and control of Aedes-transmitted diseases. Other GDAC activities include the development of a centralized database for clinical trials of the U.S. NIH dengue vaccine candidate conducted by sub-licensees of the NIH dengue vaccine. Efforts are being made to obtain additional funding for proposed GDAC activities, with a focus on integrated vaccine/vector control.<br>
                <br>
                IVI continued to make progress in dengue in 2016, through DVI and subsequently, GDAC, by conducting disease burden field studies in multiple countries, and supporting activities to increase readiness of low- and middle-income countries to introduce dengue vaccines, particularly in light of the recent licensure of Sanofi Pasteur’s CYD-TDV vaccine (Dengvaxia®). 
            </p>
        </div>
    </div>
</section>
<section class="disease-part">
    <div class="row-default">
        <div class="col-1_3 col-right-space">
            <img src="/images/mers-img-01@2x-min.png" alt="mers-main-img" class="disease-main-img">
        </div>
        <div class="col-2_3">
            <h3 class="disease-section-title">
                Middle East Respiratory Syndrome 
                (MERS)
            </h3>
            <p class="disease-section-subtitle">
                IVI launched the MERS Program in late 2015 with funding from Samsung. The five-year grant will accelerate the development of MERS vaccines, with the aim of having two MERS vaccines demonstrated to be safe and immunogenic in Phase II trials conducted in South Korea, and that can be deployed in clinical efficacy trials at possible outbreak sites.
            </p>
            <img class="img-box" src="/images/mers-img-02@2x-min.jpg" alt="mers-img-01">
            <div class="img-caption">
                In 2016, IVI and GeneOne Life Sciences signed a collaboration and access agreement to support GeneOne’s MERS DNA vaccine candidate.
            </div>
            <p class="disease-content">z
                IVI will partner with two vaccine manufacturers on early-stage clinical development of their MERS vaccine candidates by providing technical and financial support, as well as support in project management and coordination.
            </p>
        </div>
    </div>
</section>
<section class="capacity-building-titlepage">
    <div class="row-default row-735px">
        <h2 class="chapter-title-large text-lightblue-400">
            Capacity-building
        </h2>
        <h3 class="chapter-subtitle-large">
            We help build knowledge in the vaccine spectrum through training, technology transfer, technical assistance, and educational partnerships.
        </h3>
    </div>
    <button type="button" class="btn-scroll">
        <img src="/images/btn-move-seetheimpact@2x-min.png" alt="scroll">
    </button>
</section>
<div class="capacity-building-contentpage bg-purple-900">
    <div class="row-default margin-bottom-20px">
        <div class="col-1_3 col-right-space">
            <div class="card-title-box bg-lightblue-400 border-top-lightblue-200">
                <h4 class="card-title">Vaccinology Course, September 26-30, 2016</h4>
                <img class="card-icon" src="/images/education-icon@2x-min.png" alt="vaccinology-course-icon" width="118" height="115">
            </div>
        </div>
        <div class="col-2_3">
            <img class="img-box" src="/images/capacity-img-01@2x-min.png" alt="capacity-img-01">
        </div>
    </div>
    <div class="row-default margin-bottom-60px">
        <div class="col-1_3 col-right-space">
            <div class="number-box">
                <strong class="featured-number text-lightblue-400">1,000</strong>
                <p class="desc">
                    the number of <span class="text-lightblue-400">people</span> <br>
                    trained in IVI’s Vaccinology Course
                </p>
            </div>
            <div class="number-box">
                <strong class="featured-number text-lightblue-400">108</strong>
                <p class="desc">
                    the number of <span class="text-lightblue-400">participants</span> <br>
                    of the 16th Vaccinology Course
                </p>
            </div>
            <div class="number-box">
                <strong class="featured-number text-lightblue-400">25</strong>
                <p class="desc">
                    the number of <span class="text-lightblue-400">nationalities</span> <br>
                    of participants <br>
                    in the 16th Vaccinology Course
                </p>
            </div>
        </div>
        <div class="col-2_3">
            <img class="img-box" src="/images/capacity-img-02@2x-min.jpg" alt="capacity-img-02">
            <div class="img-caption">
                Dr. Jean William Pape, Cornell University Professor of Medicine and founder of GHESKIO medical clinics in Haiti, was the keynote speaker.
            </div>
            <p class="disease-content text-white">
                One of the oldest vaccinology courses in Asia, IVI’s Vaccinology Course has trained more than 1,000 people.  The week-long course promotes vaccine sustainability in developing countries by training early- to mid-career vaccine professionals from low- and middle-income countries (LMICs) and fosters development of collaborative networks and partnerships among LMICs. <br>
                <br>
                The 16th Vaccinology Course had 108 participants of 25 different nationalities. Twenty-six experts from international agencies (e.g., IVI, World Health Organization); research institutions (e.g., U.S. National Institutes of Health); universities (e.g., London School of Hygiene & Tropical Medicine); industry, and non-profit organizations served as faculty members. Course evaluations from the participants found the quality of the course overall to be high. Planning is underway for the 17th Vaccinology Course, scheduled on September 4-8, 2017 at IVI.
            </p>
        </div>
    </div>
    <div class="row-default margin-bottom-60px">
        <div class="col-1_3 col-right-space">
            <div class="card-title-box bg-deepblue-300 border-top-cyan-200">
                <h4 class="card-title">Vaccine Safety</h4>
                <img class="card-icon" src="/images/shield-icon@2x-min.png" alt="vaccine-safety-icon" width="110" height="124">
            </div>
        </div>
        <div class="col-2_3">
            <p class="disease-content text-white">
                IVI developed a new software tool, the Vaccine Adverse Events Information Management System (VAEIMS) for the WHO Global Vaccine Safety Initiative (GVSI), of which IVI is a participating partner. VAEIMS was developed by IVI to efficiently transfer vaccine safety data from periphery health care centers to a central database. This will help improve reporting, monitoring, and management of vaccine safety data by public health authorities, enabling them to respond more quickly to public vaccine safety issues. <br>
                <br>
                Following its pilot launch in Sri Lanka in 2015, the tool was rolled out in Chile and Iran in 2016. Based on positive feedback from the countries, there are plans to expand VAIEMS such as developing an online version.
            </p>
        </div>
    </div>
    <div class="row-default margin-bottom-60px">
        <div class="col-1_3 col-right-space">
            <div class="card-title-box bg-cyan-500 border-top-blue-200">
                <h4 class="card-title">Vaccine Safety</h4>
                <img class="card-icon-rightfit" src="/images/partnership-icon@2x-min.png" alt="vaccine-safety-icon" width="156" height="90">
            </div>
        </div>
        <div class="col-2_3">
            <p class="disease-content text-white">
                In December 2016, <strong class="text-cyan-500">an IVI branch lab was inaugurated in Andong City, Gyeongbuk Province, South Korea.</strong> This is part of a collaboration between IVI and the provincial government to develop an emerging biomedical cluster in the region. The lab will be used for vaccine evaluation and for training Korean scientists. <br>
                <br>
                <strong class="text-cyan-500">IVI is partnering with Incheon National University</strong> (INU; a public national university based in Incheon, South Korea) to develop a global Master’s in vaccinology program in collaboration with University of Siena  <br>
                <br>
                <strong class="text-cyan-500">IVI is partnering with Yonsei University</strong> (among the top three universities in South Korea) for its Global Health Security Agenda (GHSA) Master’s Program, which will be launched in 2017. Funded by the Korean International Cooperation Agency (KOICA) and hosted by Yonsei University, this new graduate program will train health professionals from developing countries in global public health. IVI will provide lecturers and project advisors for the program.
            </p>
        </div>
    </div>
</div>
<section class="impact-titlepage">
    <div class="row-default row-920px">
        <h2 class="chapter-title-xlarge text-lightblue-500">
            Impact
        </h2>
        <h3 class="chapter-subtitle-medium text-white">
            In 2016, IVI scientists authored or co-authored 93 articles that were published in peer-reviewed scientific journals, among which 84 were in Scientific Citation Index (SCI) journals.  Some articles were published in journals with a high impact factor such as <span class="text-italic">The New England Journal of Medicine and Nature Medicine.</span>
        </h3>
    </div>
    <div class="row-default row-724px">
        <div class="col-impact-1_2 col-impact-right-space">
            <div class="number-box">
                <strong class="featured-number text-lightblue-500">93</strong>
                <p class="desc">
                    the number of <span class="text-lightblue-500">articles</span> published <br>
                    in peer-reviewed scientific journals
                </p>
            </div>
        </div>
        <div class="col-impact-1_2">
            <div class="number-box">
                <strong class="featured-number text-lightblue-500">84</strong>
                <p class="desc">
                    Scientific Citation Index (SCI) journals
                </p>
            </div>
        </div>
    </div>
    <div class="row-default">
        <div class="chapter-link-caption">
            To see the publications,
        </div>
        <button type="button" class="btn-basic">
            <i class="material-icons">&#xE3AA;</i> Annual Letter
        </button>
    </div>
</section>
<section class="impact-contentpage">
    <div class="row-default">
        <h3 class="chapter-title-medium text-white">
            Impact of the Oral Cholera Vaccine
        </h3>
        <p class="content text-white">
            A global cholera vaccine stockpile, managed by WHO, was created in 2013 using the oral cholera vaccines developed by IVI.  The stockpile created a market for oral cholera vaccines, which did not exist before. It is estimated >4 million doses of the vaccine have been deployed in epidemic and endemic situations in 12 countries so far (India, Bangladesh, Ethiopia, Malawi, Iraq, South Sudan, Haiti, Tanzania, Cameroon, Guinea, Nepal, and Democratic Republic of Congo). <br>
            <br>
            Globally, OCV production was low, with demand exceeding supply. The WHO had to turn down requests from countries for supplies of vaccines that could not be filled because of the shortage. <br>
            <br>
            That all changed in December 2015 when Euvichol® was approved by the WHO Prequalification Program. The addition of another cholera vaccine producer is expected to double global supply to 6 million doses for 2016, with potential for further increased production in the future. More importantly, the extra capacity will contribute to reversing the cycle of low demand, low production, high price and inequitable distribution to one of increased demand, increased production, reduced price and increased access. <br>
            <br>
            While supply has increased, there is room for improvement in uptake of the vaccine. Funders, policymakers and countries have cited the need for more advocacy and evidence on use of the vaccine in real-life situations to support decision-making on vaccine introduction.  
        </p>
    </div>
</section>
<section class="partners-titlepage">
    <div class="row-default row-724px">
        <h2 class="chapter-title-large text-teal-300">
            Partners
        </h2>
        <h3 class="chapter-subtitle-large text-white">
            We thank all of our friends and partners. We are grateful for your support, which makes our work possible.
        </h3>
        <button type="button" class="btn-basic bg-teal-300">
            <i class="material-icons">&#xE545;</i> Learn more and become a supporter
        </button>
    </div>
</section>
<section class="donors-titlepage">
    <div class="row-default row-724px">
        <h2 class="chapter-title-large text-lightblue-450">
            Our Donors
        </h2>
        <h3 class="chapter-subtitle-small text-white">
            Core funding is provided by the Governments of the Republic of Korea and Sweden. We welcome India who recently became a <a href="#" class="text-link text-lightblue-450">financially contributing member state to IVI.</a><br>
            <br>
            Public- and private-sector organizations and individuals also provide support, both monetary and in-kind, for the Institute’s research and programs. Prominent organizations and individuals in Korea also provide support due to efforts of the <a href="#" class="text-link text-lightblue-450">Korea Support Committee for IVI (KSC)</a>. Your generosity is deeply appreciated.
        </h3>
        <button type="button" class="btn-basic bg-lightblue-450">
            <i class="material-icons">&#xE3FC;</i> View our donors here
        </button>
    </div>
</section>
<section class="donors-contentpage">
    <div class="row-default">
        <div class="col-1_2 col-right-space">
            <img class="img-box" src="/images/donors-img-01@2x-min.jpg" alt="donors-img-01">
            <div class="img-caption">
                The Korean Minister of Health & Welfare (right) at IVI in early 2017.  As the first international organization hosted by South Korea, IVI is under the purview of the Ministry of Health & Welfare and <a href="#" class="text-link">collaborates with the ministry on vaccine research and capacity-building initiatives.</a>
            </div>
        </div>
        <div class="col-1_2">
            <h4 class="content-title text-lightblue-450 border-top-lightblue-450">
                Korea Support Commitee for IVI (KSC)
            </h4>
            <p class="content">
                Established in 1998, the KSC is an independent nonprofit organization that mobilizes support for IVI in South Korea. The Committee consists of prominent leaders from government, industry, and academia in South Korea.<br>
                <a href="#" class="text-link text-lightblue-450">http://www.ivi.int/ksc</a>
            </p>
        </div>
    </div>
</section>
<section class="leadership-titlepage">
    <div class="row-default">
        <h2 class="chapter-title-large text-white">
            Leadership
        </h2>
        <h3 class="chapter-subtitle-small">
            See the rest of our leadership <a href="#" class="text-link text-purple-900">here</a><br>
            <a href="#" class="text-link text-purple-900">Our Board of Trustees</a><br>
            <a href="#" class="text-link text-purple-900">Our Scientific Advisory Group</a>
        </h3>
    </div>
    <div class="row-default">
        <div class="col-leadership-1_3 col-leadership-right-space">
            <div class="leadership-box">
                <img class="leadership-thumb" src="/images/leadership-img-01@2x-min.jpg" alt="Jerome-Kim-MD">
                <dl class="leadership-info">
                    <dt class="leadership-name">Jerome Kim, MD</dt>
                    <dd class="leadership-desc">Director General</dd>
                </dl>
            </div>
        </div>
        <div class="col-leadership-1_3 col-leadership-right-space">
            <div class="leadership-box">
                <img class="leadership-thumb" src="/images/leadership-img-02@2x-min.jpg" alt="Phil-Driver">
                <dl class="leadership-info">
                    <dt class="leadership-name">Phil Driver</dt>
                    <dd class="leadership-desc">Deputy Director General, Finance & Operations</dd>
                </dl>
            </div>
        </div>
        <div class="col-leadership-1_3">
            <div class="leadership-box">
                <img class="leadership-thumb" src="/images/leadership-img-03@2x-min.jpg" alt="Julia-LynchD">
                <dl class="leadership-info">
                    <dt class="leadership-name">Julia LynchD</dt>
                    <dd class="leadership-desc">Deputy Director General, Development & Delivery</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="row-default">
        <div class="col-leadership-1_3 col-leadership-right-space">
            <div class="leadership-box">
                <img class="leadership-thumb" src="/images/leadership-img-04@2x-min.jpg" alt="In-Kyu-Yoon">
                <dl class="leadership-info">
                    <dt class="leadership-name">In-Kyu Yoon</dt>
                    <dd class="leadership-desc">Deputy Director General, Science</dd>
                </dl>
            </div>
        </div>
        <div class="col-leadership-1_3">
            <div class="leadership-box">
                <img class="leadership-thumb" src="/images/leadership-img-05@2x-min.jpg" alt="Kyung-taik-Han">
                <dl class="leadership-info">
                    <dt class="leadership-name">Kyung-taik Han</dt>
                    <dd class="leadership-desc">Deputy Director General, <br>
                    Government Affairs & Governance</dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<section class="finances-titlepage">
    <div class="row-default row-800px">
        <h2 class="chapter-title-large text-cyan-400">
            Finances
        </h2>
        <h3 class="chapter-subtitle-xsmall">
            2016 Financial Summary
        </h3>
        <div class="finances-box">
            <table class="finances-table margin-bottom-40px">
                <tr>
                    <th class="width-60 text-left">Revenue</th>
                    <th class="width-20 text-right padding-left-10px">2015</th>
                    <th class="width-20 text-right padding-left-10px">2016</th>
                </tr>
                <tr>
                    <td>Bill & Melinda Gates Foundation (BMGF)</td>
                    <td class="text-right padding-left-10px">15,205,867</td>
                    <td class="text-right padding-left-10px">12,380,328</td>
                </tr>
                <tr>
                    <td>Government of the Republic of Korea</td>
                    <td class="text-right padding-left-10px">4,813,476</td>
                    <td class="text-right padding-left-10px">3,631,659</td>
                </tr>
                <tr>
                    <td>Swedish International Development Cooperation Agency (Sida)</td>
                    <td class="text-right padding-left-10px">780,368</td>
                    <td class="text-right padding-left-10px">720,420</td>
                </tr>
                <tr>
                    <td>Corporations / Individuals / Others</td>
                    <td class="text-right padding-left-10px">5,149,713</td>
                    <td class="text-right padding-left-10px">3,095,397</td>
                </tr>
                <tr>
                    <td>Korean Government Laboratory Support</td>
                    <td class="text-right padding-left-10px">-</td>
                    <td class="text-right padding-left-10px">1,294,612</td>
                </tr>
                <tr>
                    <td>Investments (Interest Income)</td>
                    <td class="text-right padding-left-10px">112,108</td>
                    <td class="text-right padding-left-10px">35,005</td>
                </tr>
                <tr>
                    <td class="text-bold">Total Revenue</td>
                    <td class="text-right padding-left-10px text-bold">26,061,531</td>
                    <td class="text-right padding-left-10px text-bold">21,157,421</td>
                </tr>
            </table>
            <h4 class="finances-title">2016 Sources of Revenue</h4>
            <div class="finances-piechart-box">
                <div class="col-45 col-45-right-space">
                    <img class="finances-piechart" src="/images/graph-01@2x-min.png" alt="piechart-01">
                </div>
                <div class="col-45">
                    <img class="finances-piechart" src="/images/graph-02@2x-min.png" alt="piechart-02">
                </div>
            </div>
            <ul class="finances-piechart-desc">
                <li class="desc-list oval-glyph-deepblue-300">Bill & Melinda Gates Foundation (BMGF)</li>
                <li class="desc-list oval-glyph-deepblue-500">Government of the Republic of Korea</li>
                <li class="desc-list oval-glyph-deepblue-600">Swedish International Development Cooperation Agency (Sida)</li>
                <li class="desc-list oval-glyph-deepblue-700">Corporations / Individuals / Others</li>
                <li class="desc-list oval-glyph-lightblue-400">Korean Government Laboratory Support</li>
                <li class="desc-list oval-glyph-lightblue-300">Investments (Interest Income)</li>
            </ul>
        </div>
        <div class="finances-box">
            <table class="finances-table margin-bottom-40px">
                <tr>
                    <th class="width-60 text-left">Total Expense</th>
                    <th class="width-20 text-right padding-left-10px">2015</th>
                    <th class="width-20 text-right padding-left-10px">2016</th>
                </tr>
                <tr>
                    <td>Program Service</td>
                    <td class="text-right padding-left-10px">20,009,212</td>
                    <td class="text-right padding-left-10px">16,634,140</td>
                </tr>
                <tr>
                    <td>Laboratory Support</td>
                    <td class="text-right padding-left-10px">2,188,346</td>
                    <td class="text-right padding-left-10px">1,287,420</td>
                </tr>
                <tr>
                    <td>Management & General</td>
                    <td class="text-right padding-left-10px">2,223,861</td>
                    <td class="text-right padding-left-10px">3,081,691</td>
                </tr>
                <tr>
                    <td>Communications & Advocacy</td>
                    <td class="text-right padding-left-10px">608,234</td>
                    <td class="text-right padding-left-10px">831,373</td>
                </tr>
                <tr>
                    <td class="text-bold">Total Expense</td>
                    <td class="text-right padding-left-10px text-bold">25,029,653</td>
                    <td class="text-right padding-left-10px text-bold">21,834,624</td>
                </tr>
                <tr>
                    <td class="text-bold">Foreign Exchange Gain (Loss)</td>
                    <td class="text-right padding-left-10px text-bold">179,765</td>
                    <td class="text-right padding-left-10px text-bold">(480,939)</td>
                </tr>
                <tr>
                    <td class="text-bold">Net Surplus (Deficit)</td>
                    <td class="text-right padding-left-10px text-bold">1,211,643</td>
                    <td class="text-right padding-left-10px text-bold">(1,158,141)</td>
                </tr>
            </table>
            <h4 class="finances-title">2016 Sources of Revenue</h4>
            <div class="finances-piechart-box">
                <div class="col-45 col-45-right-space">
                    <img class="finances-piechart" src="/images/graph-03@2x-min.png" alt="piechart-03">
                </div>
                <div class="col-45">
                    <img class="finances-piechart" src="/images/graph-04@2x-min.png" alt="piechart-04">
                </div>
            </div>
            <ul class="finances-piechart-desc">
                <li class="desc-list oval-glyph-deepblue-300">Program Service</li>
                <li class="desc-list oval-glyph-deepblue-500">Laboratory Support</li>
                <li class="desc-list oval-glyph-deepblue-600">Management & General</li>
                <li class="desc-list oval-glyph-deepblue-700">Communications & Advocacy</li>
            </ul>
        </div>
        <div class="finances-box">
            <table class="finances-table margin-bottom-40px">
                <tr>
                    <th class="width-60 text-left">Assets</th>
                    <th class="width-20 text-right padding-left-10px">2015</th>
                    <th class="width-20 text-right padding-left-10px">2016</th>
                </tr>
                <tr>
                    <td>Cash and Cash Equivalents</td>
                    <td class="text-right padding-left-10px">5,676,076</td>
                    <td class="text-right padding-left-10px">5,126,466</td>
                </tr>
                <tr>
                    <td>Bank Deposits</td>
                    <td class="text-right padding-left-10px">15,980,280</td>
                    <td class="text-right padding-left-10px">21,409,144</td>
                </tr>
                <tr>
                    <td>Other Current Assets</td>
                    <td class="text-right padding-left-10px">763,775</td>
                    <td class="text-right padding-left-10px">1,031,521</td>
                </tr>
                <tr>
                    <td>Other Assets</td>
                    <td class="text-right padding-left-10px">1,064,298</td>
                    <td class="text-right padding-left-10px">1,090,148</td>
                </tr>
                <tr>
                    <td class="text-bold">Total Assets</td>
                    <td class="text-right padding-left-10px text-bold">23,484,429</td>
                    <td class="text-right padding-left-10px text-bold">28,657,279</td>
                </tr>
            </table>
            <table class="finances-table">
                <tr>
                    <th class="width-60 text-left">Liabilities and Net Assets</th>
                    <th class="width-20 text-right padding-left-10px">2015</th>
                    <th class="width-20 text-right padding-left-10px">2016</th>
                </tr>
                <tr>
                    <td>Grant Funds-Deferred Support</td>
                    <td class="text-right padding-left-10px">15,803,851</td>
                    <td class="text-right padding-left-10px">23,079,592</td>
                </tr>
                <tr>
                    <td>Other Current Liabilities</td>
                    <td class="text-right padding-left-10px">2,734,583</td>
                    <td class="text-right padding-left-10px">1,843,335</td>
                </tr>
                <tr>
                    <td>Other Liabilities</td>
                    <td class="text-right padding-left-10px">-</td>
                    <td class="text-right padding-left-10px">-</td>
                </tr>
                <tr>
                    <td>Net Assets</td>
                    <td class="text-right padding-left-10px">4,945,995</td>
                    <td class="text-right padding-left-10px">3,734,352</td>
                </tr>
                <tr>
                    <td>Total Liabilities and Net Assets</td>
                    <td class="text-right padding-left-10px">23,484,429</td>
                    <td class="text-right padding-left-10px">28,657,279</td>
                </tr>
            </table>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="row-default">
        <div class="col-60">
            <div class="copyright">Copyright 2017 International Vaccine Institute. All Rights Reserved.</div>
        </div>
        <div class="col-20">
            <img class="footer-logo" src="/images/footer-ivi-logo@2x-min.png" alt="footer-logo">
        </div>
        <div class="col-20">
            <a href="#" target="_blank" class="donation-link">
                Give to IVI
            </a>
        </div>
    </div>
</footer>





<script>
        
    $(document).ready(function(){
        
        /** 
         * This part does the "fixed navigation after scroll" functionality
         * We use the jQuery function scroll() to recalculate our variables as the 
         * page is scrolled/
         */
        $(window).scroll(function(){
            var window_top = $(window).scrollTop() + 12; // the "12" should equal the margin-top value for nav.stick
            var div_top = $('#nav-anchor').offset().top;
                if (window_top > div_top) {
                    $('nav').addClass('stick');
                } else {
                    $('nav').removeClass('stick');
                }
        });
        
        
        /**
         * This part causes smooth scrolling using scrollto.js
         * We target all a tags inside the nav, and apply the scrollto.js to it.
         */
        $("nav a").click(function(evn){
            evn.preventDefault();
            $('html,body').scrollTo(this.hash, this.hash); 
        });
        
        
        
        /**
         * This part handles the highlighting functionality.
         * We use the scroll functionality again, some array creation and 
         * manipulation, class adding and class removing, and conditional testing
         */
        var aChildren = $("nav li").children(); // find the a children of the list items
        var aArray = []; // create the empty aArray
        for (var i=0; i < aChildren.length; i++) {    
            var aChild = aChildren[i];
            var ahref = $(aChild).attr('href');
            aArray.push(ahref);
        } // this for loop fills the aArray with attribute href values
        
        $(window).scroll(function(){
            var windowPos = $(window).scrollTop(); // get the offset of the window from the top of page
            var windowHeight = $(window).height(); // get the height of the window
            var docHeight = $(document).height();
            
            for (var i=0; i < aArray.length; i++) {
                var theID = aArray[i];
                var divPos = $(theID).offset().top; // get the offset of the div from the top of page
                var divHeight = $(theID).height(); // get the height of the div in question
                if (windowPos >= divPos && windowPos < (divPos + divHeight)) {
                    $("a[href='" + theID + "']").addClass("nav-active");
                } else {
                    $("a[href='" + theID + "']").removeClass("nav-active");
                }
            }
            
            if(windowPos + windowHeight == docHeight) {
                if (!$("nav li:last-child a").hasClass("nav-active")) {
                    var navActiveCurrent = $(".nav-active").attr("href");
                    $("a[href='" + navActiveCurrent + "']").removeClass("nav-active");
                    $("nav li:last-child a").addClass("nav-active");
                }
            }
        });
    });

</script>
