<header class="intro-part">
    <div class="row-default">
        <div class="logo-area">
            <h1 class="ivi-logo">
                <a href="http://www.ivi.int/" target="_blank">
                    <img src="/images/ivi-logo-full-white@2x-min.png" alt="ivi-logo">
                </a>
            </h1>
            <h2 class="impact-20-logo">
                <a href="http://www.ivi.int/" target="_blank">
                    <img src="/images/impact-20-logo@2x-min.png" alt="impact-20-logo">
                </a>
            </h2>
        </div>
        <div class="slogan">
            <img src="/images/intro-title@2x-min.png" alt="slogan">
        </div>
        <button type="button" class="btn-scroll">
            <img src="/images/btn-move-scroll@2x-min.png" alt="scroll">
        </button>
    </div>
</header>
<nav class="global-nav">
    <div class="row-default">
        <button type="button" class="btn-nav">
            Annual Letter
        </button>
        <button type="button" class="btn-nav">
            Development<br>
            & Delivery
        </button>
        <button type="button" class="btn-nav">
            Capacity<br>
            Building
        </button>
        <button type="button" class="btn-nav">
            Impact
        </button>
        <button type="button" class="btn-nav">
            Partners
        </button>
        <button type="button" class="btn-nav">
            Finances
        </button>
        <button type="button" class="btn-nav">
            Leadership
        </button>
    </div>
</nav>
<section class="annual-letter">
    <div class="row-default row-620px">
        <h2 class="chapter-title-small">
            Discover, develop and deliver safe effective and affordable vaccines  for global public health
        </h2>
        <div class="chapter-link-caption">
            Dear Friends,
        </div>
        <button type="button" class="btn-basic">
            <i class="material-icons">drafts</i> Annual Letter
        </button>
    </div>
</section>
<section class="development-part-01">
    <div class="row-default row-735px">
        <h2 class="chapter-title-large">
            Vaccine Development & Delivery
        </h2>
        <h3 class="chapter-subtitle-large">
            Making vaccines available and accessible for the world because everyone has the right to good health
        </h3>
    </div>
    <button type="button" class="btn-scroll">
        <img src="/images/btn-move-seetheimpact@2x-min.png" alt="scroll">
    </button>
</section>
<div class="development-part-02">
    <div class="row-default">
        <p class="content text-cyan-400">We develop vaccines against infectious diseases that are of global health concern (e.g., MERS, Zika) and that affect developing countries (e.g., cholera, typhoid, dengue). Vaccine development and commercialization can be costly, lengthy and fraught with risk, and there are few incentives for companies to pursue development of a vaccine against a neglected disease and/or with a limited market.<br>  
        <br>
        IVI bridges the gap by partnering with vaccine manufacturers, governments and philanthropies, and mobilizing resources and funding to develop and license vaccines for the public-sector market. We also drive innovation by transferring technology we develop in-house to companies, and partner with them on clinical testing and production.  <br>
        <br>
        In exchange for technology and support, manufacturers make a proportion of their product accessible to the public sector at a low price. As we do not make a profit from intellectual property, we partner with multiple companies on tech transfer, which helps ensure sufficient vaccine supply for the public-sector market.  <br>
        <br>
        We brought to market a low-cost oral cholera vaccine that is WHO-prequalified and stockpiled by WHO for emergency use. <strong class="text-purple-900">More than 4 million doses of the vaccine</strong> has been deployed to prevent and control cholera in <strong class="text-purple-900">13 countries</strong>.  IVI is currently developing vaccines against typhoid and MERS. </p>
    </div>
    <div class="row-default margin-bottom-100px">
        <div class="col-1_2 col-right-space">
            <div class="number-box">
                <strong class="featured-number">4,000,000</strong>
                <p class="desc">
                    the number of <span class="text-cyan-400">doses of vaccine</span><br>
                    deployed to prevent and control cholera
                </p>
            </div>
        </div>
        <div class="col-1_2">
            <div class="number-box">
                <strong class="featured-number">13</strong>
                <p class="desc">
                    the number of <span class="text-cyan-400">countries</span><br>
                    the vaccine has been deployed
                </p>
            </div>
        </div>
    </div>
</div>
<div class="development-part-03">
    <div class="shadow-separator"></div>
    <div class="row-default">
        <div class="col-1_2 col-right-space">
            <div class="colincol-1_2 colincol-right-space">
                <div class="section-nav">
                    <img src="/images/cholera-thumb@2x-min.png" alt="cholera-thumb" class="thumb">
                    <h3 class="disease-nav-title">Cholera</h3>
                    <p class="disease-nav-desc">
                        We accelerate the development and delivery of oral cholera vaccines against epidemic and endemic cholera.
                    </p>
                    <button type="button" class="btn-scroll">
                        <img src="/images/btn-move-roundarrow@2x-min.png" alt="move-button">
                    </button>
                </div>
            </div>
            <div class="colincol-1_2">
                <div class="section-nav">
                    <img src="/images/typhoid-thumb@2x-min.png" alt="cholera-thumb" class="thumb">
                    <h3 class="disease-nav-title">Typhoid</h3>
                    <p class="disease-nav-desc">
                        We accelerate the development and delivery of new-generation typhoid conjugate vaccines.
                    </p>
                    <button type="button" class="btn-scroll">
                        <img src="/images/btn-move-roundarrow@2x-min.png" alt="move-button">
                    </button>
                </div>
            </div>
        </div>
        <div class="col-1_2">
            <div class="colincol-1_2 colincol-right-space">
                <div class="section-nav">
                    <img src="/images/dengue-thumb@2x-min.png" alt="cholera-thumb" class="thumb">
                    <h3 class="disease-nav-title">Dengue</h3>
                    <p class="disease-nav-desc">
                        We promote research and development of prevention and control measures against dengue and other Aedes-transmitted diseases.
                    </p>
                    <button type="button" class="btn-scroll">
                        <img src="/images/btn-move-roundarrow@2x-min.png" alt="move-button">
                    </button>
                </div>
            </div>
            <div class="colincol-1_2">
                <div class="section-nav">
                    <img src="/images/mers-thumb@2x-min.png" alt="cholera-thumb" class="thumb">
                    <h3 class="disease-nav-title">MERS</h3>
                    <p class="disease-nav-desc">
                        We accelerate the development of MERS vaccines.
                    </p>
                    <button type="button" class="btn-scroll">
                        <img src="/images/btn-move-roundarrow@2x-min.png" alt="move-button">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="disease-part bg-lightgrey">
    <div class="row-default">
        <div class="col-1_3 col-right-space">
            <img src="/images/cholera-img-01@2x-min.png" alt="cholera-img" class="cholera-main-img">
        </div>
        <div class="col-2_3">
            <h3 class="disease-section-title">
                Cholera
            </h3>
            <p class="disease-section-subtitle">
                The Cholera Program aims to accelerate the development and introduction of oral cholera vaccines against endemic and epidemic cholera through a public-private partnership approach.
            </p>
            <h4 class="disease-content-title">
                Development
            </h4>
            <p class="disease-content">
                Our cholera story dates back to 2006 when IVI reformulated an oral cholera vaccine (OCV). The technology was transferred to manufacturers and IVI partnered with some of them on development and commercialization. Since then, two oral cholera vaccines, Shanchol™ and Euvichol® are WHO-prequalified and available for purchase.
            </p>
        </div>
    </div>
    <div class="row-default">
        <div class="col-1_3 col-right-space">
            <div class="number-box">
                <strong class="featured-number">1</strong><span class="featured-number-caption">First low-cost cholera vaccine</span>
                <p class="desc">
                    IVI developed the world's first affordable oral cholera vaccine for developing countries
                </p>
            </div>
            <img class="img-box" src="#" alt="">
            <div class="img-caption">
                Euvichol®
            </div>
        </div>
        <div class="col-2_3">
            <p class="disease-content">
                We continue to work on the oral cholera vaccine. A thimerosal-free version of Euvichol® was WHO-prequalified in September 2016. In addition to removing thimerosal from the vaccine, production capacity was scaled up to 25 million doses per year through a new 600-liter fermenter. Even though Euvichol® was prequalified in 2015, these modifications required a second approval by the WHO Prequalification Program.
            </p>
            <p class="disease-content">
                We also work on optimizing vaccine use. The oral cholera vaccine is administered in two doses over a 14-day interval however a single-dose regimen would be advantageous for outbreaks, refugee camps and other emergency situations. IVI is partnering with icddr,b on a single-dose study in Bangladesh. Subjects were followed up six months after vaccination, showing <a href="#" target="_blank" class="text-link">the single dose is mildly protective for all cholera cases while more protective for severe cholera</a>. Follow-ups will continue to be made at 12 months, 18 months and 24 months.
            </p>
        </div>
    </div>
</section>
<section class="disease-part bg-less-lightgrey">
    <div class="row-default">
        <h4 class="disease-content-title">
            Delivery
        </h4>
        <p class="disease-content">
            We support delivery efforts of the oral cholera vaccine. In 2016, one million doses of Euvichol was provided by EuBiologics to Haiti as part of public health efforts to control the outbreak in the country. IVI, with Rotary International and Nepalese health authorities conducted a cholera vaccination campaign in Banke, Nepal with Euvichol, vaccinating about 27,000 people.
        </p>
    </div>
    <div class="row-default">
        <div class="col-1_2 col-right-space">
            <img class="img-box" src="#" alt="">
            <div class="img-caption">
                Social mobilization campaign in Banke, Nepal
            </div>
        </div>
        <div class="col-1_2">
            <img class="img-box" src="#" alt="">
            <div class="img-caption">
                © Lorenzo Pezzoli / WHO. An emergency vaccination campaign was implemented in 2015 in response to cholera outbreaks following flooding in Nsanje district; IVI is conducting surveillance to measure vaccine effectiveness.
            </div>
        </div>
    </div>
    <div class="row-default">
        <p class="disease-content">
            We also conduct the Cholera Surveillance in Malawi (CSIMA) project, funded by the Bill & Melinda Gates Foundation (BMGF). CSIMA aims to establish a cholera surveillance platform in two districts of Malawi to assess effectiveness of the oral cholera vaccine following an emergency vaccination campaign in early 2015.  This evidence will be useful to funders, policymakers and countries who have cited the need for more data on use of the vaccine in real-life situations to support decision-making on vaccine introduction.
        </p>
    </div>
</section>
<section class="disease-part"></section>






















<div class="wrapper" style="padding: 20px; margin-top: 700px;">
    <p>
        We also work on optimizing vaccine use. The oral cholera vaccine is administered in two doses over a 14-day interval however a single-dose regimen would be advantageous for outbreaks, refugee camps and other emergency situations. IVI is partnering with icddr,b on a single-dose study in Bangladesh. Subjects were followed up six months after vaccination, showing <a href="#" class="text-link">the single dose is mildly protective for all cholera cases while more protective for severe cholera</a>. Follow-ups will continue to be made at 12 months, 18 months and 24 months.
    </p>
    <div class="disease-section-title" style="margin: 20px 0px;">
        Middle East Respiratory Syndrome<br>
        (MERS)
    </div>
    <div class="disease-section-subtitle" style="margin: 20px 0px;">
        The Typhoid Program aims to accelerate the development and introduction of new-generation typhoid vaccines in two ways: <strong class="text-bold">1) development of new typhoid conjugate vaccines in collaboration with manufacturers;</strong> and <strong class="text-bold">2) generation of evidence on the burden of typhoid in Africa.</strong>
    </div>
    <div class="disease-nav-title" style="margin: 20px 0px;">
        disease-nav-desc
    </div>
    <div class="disease-nav-desc" style="margin: 20px 0px;">
        We accelerate the development and delivery of oral cholera vaccines against epidemic and endemic cholera.
    </div>
    <div class="chapter-link-caption" style="background: lightgrey; margin: 20px 0px;">
        Dear Friends,
    </div>
    <div class="chapter-title-xlarge" style="margin: 20px 0px;">
        Impact
    </div>
    <div class="chapter-title-large" style="margin: 20px 0px;">
        Vaccine Development & Delivery
    </div>
    <div class="chapter-title-medium" style="background: lightgrey; margin: 20px 0px;">
        Impact of the Oral Cholera Vaccine
    </div>
    <div class="chapter-title-small" style="margin: 20px 0px;">
        Discover, develop and deliver safe effective and <br>
        affordable vaccines  for global public health
    </div>
    <div class="chapter-subtitle-large" style="background: lightgrey; margin: 20px 0px;">
        We help build knowledge in the vaccine spectrum<br>
        through training, technology transfer, technical assistance,<br>
        and educational partnerships.
    </div>
    <div class="chapter-subtitle-medium" style="background: lightgrey; margin: 20px 0px;">
        In 2016, IVI scientists authored or co-authored 93 articles that were published in peer-reviewed scientific journals, among which 84 were in Scientific Citation Index (SCI) journals.  Some articles were published in journals with a high impact factor such as <strong class="text-italic">The New England Journal of Medicine and Nature Medicine.</strong>
    </div>
    <div class="chapter-subtitle-small" style="background: lightgrey; margin: 20px 0px;">
        See the rest of our leadership <a href="#" class="text-link text-purple-900">here</a><br>
        <a href="#" class="text-link text-purple-900">Our Board of Trustees</a><br>
        <a href="#" class="text-link text-purple-900">Our Scientific Advisory Group</a>
    </div>
    <div class="chapter-subtitle-xsmall" style="margin: 20px 0px;">
        2016 Financial Summary
    </div>
    <div class="img-caption" style="margin: 20px 0px;">
        In 2016, IVI and GeneOne Life Sciences signed a collaboration and access <a href="#" class="text-link">agreement</a> to support GeneOne’s MERS DNA vaccine candidate.
    </div>
</div>