<header class="intro-part">
    <div class="row-default">
        <div class="logo-area">
            <h1 class="ivi-logo">
                <a href="http://www.ivi.int/" target="_blank">
                    <img src="/images/ivi-logo-full-white@2x-min.png" alt="ivi-logo">
                </a>
            </h1>
            <h2 class="impact-20-logo">
                <a href="http://www.ivi.int/" target="_blank">
                    <img src="/images/impact-20-logo@2x-min.png" alt="impact-20-logo">
                </a>
            </h2>
        </div>
        <div class="slogan">
            <img src="/images/intro-title@2x-min.png" alt="slogan">
        </div>
        <button type="button" class="btn-scroll">
            <img src="/images/btn-move-scroll@2x-min.png" alt="scroll">
        </button>
    </div>
</header>
<nav class="global-nav">
    <div class="row-default">
        <button type="button" class="btn-nav">
            Annual Letter
        </button>
        <button type="button" class="btn-nav">
            Development<br>
            & Delivery
        </button>
        <button type="button" class="btn-nav">
            Capacity<br>
            Building
        </button>
        <button type="button" class="btn-nav">
            Impact
        </button>
        <button type="button" class="btn-nav">
            Partners
        </button>
        <button type="button" class="btn-nav">
            Finances
        </button>
        <button type="button" class="btn-nav">
            Leadership
        </button>
    </div>
</nav>
<section class="annual-letter">
    <div class="row-default row-620px">
        <h2 class="chapter-title-small">
            Discover, develop and deliver safe effective and affordable vaccines  for global public health
        </h2>
        <div class="chapter-link-caption">
            Dear Friends,
        </div>
        <button type="button" class="btn-basic">
            <i class="material-icons">drafts</i> Annual Letter
        </button>
    </div>
</section>
<section class="development-part-01">
    <div class="row-default row-735px">
        <h2 class="chapter-title-large">
            Vaccine Development & Delivery
        </h2>
        <h3 class="chapter-subtitle-large">
            Making vaccines available and accessible for the world because everyone has the right to good health
        </h3>
    </div>
    <button type="button" class="btn-scroll">
        <img src="/images/btn-move-seetheimpact@2x-min.png" alt="scroll">
    </button>
</section>
<div class="development-part-02">
    <div class="row-default">
        <p class="content text-cyan-400">We develop vaccines against infectious diseases that are of global health concern (e.g., MERS, Zika) and that affect developing countries (e.g., cholera, typhoid, dengue). Vaccine development and commercialization can be costly, lengthy and fraught with risk, and there are few incentives for companies to pursue development of a vaccine against a neglected disease and/or with a limited market.<br>  
        <br>
        IVI bridges the gap by partnering with vaccine manufacturers, governments and philanthropies, and mobilizing resources and funding to develop and license vaccines for the public-sector market. We also drive innovation by transferring technology we develop in-house to companies, and partner with them on clinical testing and production.  <br>
        <br>
        In exchange for technology and support, manufacturers make a proportion of their product accessible to the public sector at a low price. As we do not make a profit from intellectual property, we partner with multiple companies on tech transfer, which helps ensure sufficient vaccine supply for the public-sector market.  <br>
        <br>
        We brought to market a low-cost oral cholera vaccine that is WHO-prequalified and stockpiled by WHO for emergency use. <strong class="text-purple-900">More than 4 million doses of the vaccine</strong> has been deployed to prevent and control cholera in <strong class="text-purple-900">13 countries</strong>.  IVI is currently developing vaccines against typhoid and MERS. </p>
    </div>
    <div class="row-default margin-bottom-100px">
        <div class="col-1_2 col-right-space">
            <div class="number-box">
                <strong class="featured-number text-cyan-400">4,000,000</strong>
                <p class="desc">
                    the number of <span class="text-cyan-400">doses of vaccine</span><br>
                    deployed to prevent and control cholera
                </p>
            </div>
        </div>
        <div class="col-1_2">
            <div class="number-box">
                <strong class="featured-number text-cyan-400">13</strong>
                <p class="desc">
                    the number of <span class="text-cyan-400">countries</span><br>
                    the vaccine has been deployed
                </p>
            </div>
        </div>
    </div>
</div>
<div class="development-part-03">
    <div class="shadow-separator"></div>
    <div class="row-default">
        <div class="col-1_2 col-right-space">
            <div class="colincol-1_2 colincol-right-space">
                <div class="section-nav">
                    <img src="/images/cholera-thumb@2x-min.png" alt="cholera-thumb" class="thumb">
                    <h3 class="disease-nav-title">Cholera</h3>
                    <p class="disease-nav-desc">
                        We accelerate the development and delivery of oral cholera vaccines against epidemic and endemic cholera.
                    </p>
                    <button type="button" class="btn-scroll">
                        <img src="/images/btn-move-roundarrow@2x-min.png" alt="move-button">
                    </button>
                </div>
            </div>
            <div class="colincol-1_2">
                <div class="section-nav">
                    <img src="/images/typhoid-thumb@2x-min.png" alt="cholera-thumb" class="thumb">
                    <h3 class="disease-nav-title">Typhoid</h3>
                    <p class="disease-nav-desc">
                        We accelerate the development and delivery of new-generation typhoid conjugate vaccines.
                    </p>
                    <button type="button" class="btn-scroll">
                        <img src="/images/btn-move-roundarrow@2x-min.png" alt="move-button">
                    </button>
                </div>
            </div>
        </div>
        <div class="col-1_2">
            <div class="colincol-1_2 colincol-right-space">
                <div class="section-nav">
                    <img src="/images/dengue-thumb@2x-min.png" alt="cholera-thumb" class="thumb">
                    <h3 class="disease-nav-title">Dengue</h3>
                    <p class="disease-nav-desc">
                        We promote research and development of prevention and control measures against dengue and other Aedes-transmitted diseases.
                    </p>
                    <button type="button" class="btn-scroll">
                        <img src="/images/btn-move-roundarrow@2x-min.png" alt="move-button">
                    </button>
                </div>
            </div>
            <div class="colincol-1_2">
                <div class="section-nav">
                    <img src="/images/mers-thumb@2x-min.png" alt="cholera-thumb" class="thumb">
                    <h3 class="disease-nav-title">MERS</h3>
                    <p class="disease-nav-desc">
                        We accelerate the development of MERS vaccines.
                    </p>
                    <button type="button" class="btn-scroll">
                        <img src="/images/btn-move-roundarrow@2x-min.png" alt="move-button">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="disease-part bg-lightgrey">
    <div class="row-default">
        <div class="col-1_3 col-right-space">
            <img src="/images/cholera-img-01@2x-min.png" alt="cholera-img" class="disease-main-img">
        </div>
        <div class="col-2_3">
            <h3 class="disease-section-title">
                Cholera
            </h3>
            <p class="disease-section-subtitle">
                The Cholera Program aims to accelerate the development and introduction of oral cholera vaccines against endemic and epidemic cholera through a public-private partnership approach.
            </p>
            <h4 class="disease-content-title">
                Development
            </h4>
            <p class="disease-content">
                Our cholera story dates back to 2006 when IVI reformulated an oral cholera vaccine (OCV). The technology was transferred to manufacturers and IVI partnered with some of them on development and commercialization. Since then, two oral cholera vaccines, Shanchol™ and Euvichol® are WHO-prequalified and available for purchase.
            </p>
        </div>
    </div>
    <div class="row-default">
        <div class="col-1_3 col-right-space">
            <div class="number-box">
                <strong class="featured-number text-cyan-400">1</strong><span class="featured-number-caption text-cyan-400">First low-cost cholera vaccine</span>
                <p class="desc">
                    IVI developed the world's first affordable oral cholera vaccine for developing countries
                </p>
            </div>
            <img class="img-box" src="/images/cholera-img-02@2x-min.jpg" alt="euvichol">
            <div class="img-caption">
                Euvichol®
            </div>
        </div>
        <div class="col-2_3">
            <div style="width: 100%; height: 500px; background: lightgrey; margin-bottom: 20px;"></div>
            <p class="disease-content">
                We continue to work on the oral cholera vaccine. A thimerosal-free version of Euvichol® was WHO-prequalified in September 2016. In addition to removing thimerosal from the vaccine, production capacity was scaled up to 25 million doses per year through a new 600-liter fermenter. Even though Euvichol® was prequalified in 2015, these modifications required a second approval by the WHO Prequalification Program.
            </p>
            <p class="disease-content">
                We also work on optimizing vaccine use. The oral cholera vaccine is administered in two doses over a 14-day interval however a single-dose regimen would be advantageous for outbreaks, refugee camps and other emergency situations. IVI is partnering with icddr,b on a single-dose study in Bangladesh. Subjects were followed up six months after vaccination, showing <a href="#" target="_blank" class="text-link">the single dose is mildly protective for all cholera cases while more protective for severe cholera</a>. Follow-ups will continue to be made at 12 months, 18 months and 24 months.
            </p>
        </div>
    </div>
</section>
<section class="disease-part bg-less-lightgrey">
    <div class="row-default">
        <h4 class="disease-content-title">
            Delivery
        </h4>
        <p class="disease-content">
            We support delivery efforts of the oral cholera vaccine. In 2016, one million doses of Euvichol was provided by EuBiologics to Haiti as part of public health efforts to control the outbreak in the country. IVI, with Rotary International and Nepalese health authorities conducted a cholera vaccination campaign in Banke, Nepal with Euvichol, vaccinating about 27,000 people.
        </p>
    </div>
    <div class="row-default">
        <div class="col-1_2 col-right-space">
            <img class="img-box" src="/images/cholera-img-03@2x-min.jpg" alt="delivery-img-01">
            <div class="img-caption">
                Social mobilization campaign in Banke, Nepal
            </div>
        </div>
        <div class="col-1_2">
            <img class="img-box" src="/images/cholera-img-04@2x-min.jpg" alt="delivery-img-02">
            <div class="img-caption">
                © Lorenzo Pezzoli / WHO. An emergency vaccination campaign was implemented in 2015 in response to cholera outbreaks following flooding in Nsanje district; IVI is conducting surveillance to measure vaccine effectiveness.
            </div>
        </div>
    </div>
    <div class="row-default">
        <p class="disease-content">
            We also conduct the Cholera Surveillance in Malawi (CSIMA) project, funded by the Bill & Melinda Gates Foundation (BMGF). CSIMA aims to establish a cholera surveillance platform in two districts of Malawi to assess effectiveness of the oral cholera vaccine following an emergency vaccination campaign in early 2015.  This evidence will be useful to funders, policymakers and countries who have cited the need for more data on use of the vaccine in real-life situations to support decision-making on vaccine introduction.
        </p>
    </div>
</section>
<section class="disease-part">
    <div class="row-default">
        <div class="col-1_3 col-right-space">
            <img src="/images/typhoid-img-01@2x-min.png" alt="typhoid-img" class="disease-main-img">
        </div>
        <div class="col-2_3">
            <h3 class="disease-section-title">
                Typhoid
            </h3>
            <p class="disease-section-subtitle">
                The Typhoid Program aims to accelerate the development and introduction of new-generation typhoid vaccines in two ways: <strong class="text-bold">1) development of new typhoid conjugate vaccines in collaboration with manufacturers;</strong> and <strong class="text-bold">2) generation of evidence on the burden of typhoid in Africa.</strong>
            </p>
            <img class="img-box" src="/images/typhoid-img-02@2x-min.jpg" alt="typhoid-img-01">
            <div class="img-caption">
                Justin Im/ IVI. Infants are at high risk for typhoid; current vaccines don’t protect them against this disease, which is why IVI is developing a new typhoid vaccine that can.
            </div>
            <h4 class="disease-content-title">
                Development
            </h4>
            <img class="img-box margin-bottom-20px" src="/images/typhoid-img-03@2x-min.jpg" alt="typhoid-img-02">
            <p class="disease-content">
                We developed a typhoid conjugate vaccine using technology from U.S. National Institutes of Health, conjugating the Salmonella Typhi Vi polysaccharide to diphtheria toxoid (Vi-DT). The new vaccine has the advantage of conferring protection in infants (a high-risk group) against typhoid. IVI transferred the technology to SK Chemicals of South Korea and Biofarma of Indonesia and is working with them on preclinical and clinical development for vaccine licensure and WHO-prequalification. More recently, IVI started a partnership with Incepta Vaccine of Bangladesh to develop the Vi-DT vaccine. Other typhoid conjugate vaccines are on the market and IVI will work with the manufacturers on getting their vaccines WHO-prequalified to ensure the vaccine is globally available and accessible. <br>
                <br>
                In 2016, work continued on Vi-DT vaccine development. In particular, the phase I trial for SK Chemicals’ vaccine candidate was initiated in the Philippines, a major milestone in the vaccine’s clinical development pathway.
            </p>
        </div>
    </div>
</section>
<section class="disease-part bg-lightgrey">
    <div class="row-default">
        <div class="col-1_3 col-right-space">&nbsp;</div>
        <div class="col-2_3">
            <h4 class="disease-content-title">
                Delivery
            </h4>
        </div>
    </div>
    <div class="row-default">
        <div class="col-1_3 col-right-space">
            <div class="special-quote">
                <img src="/images/quote-icon-first@2x-min.png" alt="quote-icon-first" class="quote-icon">
                <p class="quote-content">
                    One of the major findings…is confirmation that enteric fever caused by S. Typhi and non-typhoidal Salmonella is a significant problem in Africa.
                </p>
                <img src="/images/quote-icon-last@2x-min.png" alt="quote-icon-last" class="quote-icon">
            </div>
        </div>
        <div class="col-2_3">
            <img class="img-box" src="/images/typhoid-img-04@2x-min.jpg" alt="typhoid-img-03">
            <div class="img-caption">
                Justin Im /IVI  Blood culture samples collected for the typhoid surveillance program.
            </div>
            <p class="disease-content">
                We conduct epidemiologic and socio-economic research of typhoid in Africa in order to close the knowledge gap on disease burden in the continent. While typhoid is recognized as a public health problem in Asia and Africa, information on its true burden is lacking, making it difficult to justify vaccination policy and to assess the impact of typhoid vaccination. <br>
                <br>
                From 2011 to 2015, we conducted the <a href="#" target="_blank" class="text-link">Typhoid Fever Surveillance in Africa Program (TSAP)</a>, which evaluated the typhoid burden through standardized surveillance at 13 sites in 10 sub-Saharan African countries. One of the major findings of TSAP is confirmation that enteric fever caused by <a href="#" target="_blank" class="text-link">S. Typhi and non-typhoidal Salmonella is a significant problem in Africa</a>. IVI launched a follow-on study, Severe Typhoid in Africa (SETA) in 2016 to assess severe disease outcomes of invasive Salmonella infections and its economic burden at several sites in Africa.
            </p>
        </div>
    </div>
</section>
<section class="disease-part bg-less-lightgrey">
    <div class="row-default">
        <div class="col-1_3 col-right-space">
            <img src="/images/dengue-img-01@2x-min.png" alt="dengue-img" class="disease-main-img">
        </div>
        <div class="col-2_3">
            <h3 class="disease-section-title">
                Dengue
            </h3>
            <p class="disease-section-subtitle">
                IVI is the lead agency for the Global Dengue & Aedes-Transmitted Diseases Consortium (GDAC), a consortium of four partners – IVI, the International Vaccine Access Center (IVAC) at Johns Hopkins University, Sabin Vaccine Institute, and the Partnership for Dengue Control (PDC) at Fondation Merieux. 
            </p>
            <img class="img-box margin-bottom-20px" src="/images/dengue-img-02@2x-min.jpg" alt="gdac">
        </div>
    </div>
    <div class="row-default">
        <div class="col-1_3 col-right-space">
            <div class="special-quote">
                <img src="/images/quote-icon-first@2x-min.png" alt="quote-icon-first" class="quote-icon">
                <p class="quote-content">
                    GDAC aims to promote data generation and synthesis, accelerate innovations in research, and support implementation of new and existing tools…for comprehensive prevention and control measures for Aedes-transmitted diseases including dengue, Zika, yellow fever and chikungunya.
                </p>
                <img src="/images/quote-icon-last@2x-min.png" alt="quote-icon-last" class="quote-icon">
            </div>
        </div>
        <div class="col-2_3">
            <p class="disease-content">
                <a href="#" target="_blank" class="text-link">GDAC</a> aims to promote data generation and synthesis, accelerate innovations in research, and support implementation of new and existing tools. Each partner has specific areas of expertise: IVAC focuses on health economics, strategic demand forecasting and vaccine development; Sabin focuses on communications and advocacy; PDC focuses on integration of vaccine and vector control, diagnostics, clinical case management, and pathogenesis. Besides leading the consortium, IVI is responsible for disease burden and epidemiology, laboratory testing, modeling, policy and access, and regulatory issues. <br>
                <br>
                <a href="#" target="_blank" class="text-link">GDAC</a> was created in August 2016 by joining the <a href="#" target="_blank" class="text-link">Dengue Vaccine Initiative (DVI)</a> with the <a href="#" target="_blank" class="text-link">Partnership for Dengue Control</a>, with the intent to expand the mission from dengue vaccines to a broader scope encompassing comprehensive prevention and control measures for Aedes-transmitted diseases including dengue, Zika, yellow fever and chikungunya. <br>
                <br>
                Specific projects by DVI continue to be conducted with support by the Bill & Melinda Gates Foundation. These projects include dengue burden field studies in Africa, Asia and South America, support for national regulatory authorities (NRAs) reviewing dengue vaccine candidates, and convening of dengue prevention board meetings to address key issues in prevention and control of Aedes-transmitted diseases. Other GDAC activities include the development of a centralized database for clinical trials of the U.S. NIH dengue vaccine candidate conducted by sub-licensees of the NIH dengue vaccine. Efforts are being made to obtain additional funding for proposed GDAC activities, with a focus on integrated vaccine/vector control.<br>
                <br>
                IVI continued to make progress in dengue in 2016, through DVI and subsequently, GDAC, by conducting disease burden field studies in multiple countries, and supporting activities to increase readiness of low- and middle-income countries to introduce dengue vaccines, particularly in light of the recent licensure of Sanofi Pasteur’s CYD-TDV vaccine (Dengvaxia®). 
            </p>
        </div>
    </div>
</section>
<section class="disease-part">
    <div class="row-default">
        <div class="col-1_3 col-right-space">
            <img src="/images/mers-img-01@2x-min.png" alt="mers-main-img" class="disease-main-img">
        </div>
        <div class="col-2_3">
            <h3 class="disease-section-title">
                Middle East Respiratory Syndrome 
                (MERS)
            </h3>
            <p class="disease-section-subtitle">
                IVI launched the MERS Program in late 2015 with funding from Samsung. The five-year grant will accelerate the development of MERS vaccines, with the aim of having two MERS vaccines demonstrated to be safe and immunogenic in Phase II trials conducted in South Korea, and that can be deployed in clinical efficacy trials at possible outbreak sites.
            </p>
            <img class="img-box" src="/images/mers-img-02@2x-min.jpg" alt="mers-img-01">
            <div class="img-caption">
                In 2016, IVI and GeneOne Life Sciences signed a collaboration and access agreement to support GeneOne’s MERS DNA vaccine candidate.
            </div>
            <p class="disease-content">z
                IVI will partner with two vaccine manufacturers on early-stage clinical development of their MERS vaccine candidates by providing technical and financial support, as well as support in project management and coordination.
            </p>
        </div>
    </div>
</section>
<section class="capacity-building-titlepage">
    <div class="row-default row-735px">
        <h2 class="chapter-title-large text-lightblue-400">
            Capacity-building
        </h2>
        <h3 class="chapter-subtitle-large">
            We help build knowledge in the vaccine spectrum through training, technology transfer, technical assistance, and educational partnerships.
        </h3>
    </div>
    <button type="button" class="btn-scroll">
        <img src="/images/btn-move-seetheimpact@2x-min.png" alt="scroll">
    </button>
</section>
<div class="capacity-building-contentpage bg-purple-900">
    <div class="row-default margin-bottom-20px">
        <div class="col-1_3 col-right-space">
            <div class="card-title-box bg-lightblue-400 border-top-lightblue-200">
                <h4 class="card-title">Vaccinology Course, September 26-30, 2016</h4>
                <img class="card-icon" src="/images/education-icon@2x-min.png" alt="vaccinology-course-icon" width="118" height="115">
            </div>
        </div>
        <div class="col-2_3">
            <img class="img-box" src="/images/capacity-img-01@2x-min.png" alt="capacity-img-01">
        </div>
    </div>
    <div class="row-default margin-bottom-60px">
        <div class="col-1_3 col-right-space">
            <div class="number-box">
                <strong class="featured-number text-lightblue-400">1,000</strong>
                <p class="desc">
                    the number of <span class="text-lightblue-400">people</span> <br>
                    trained in IVI’s Vaccinology Course
                </p>
            </div>
            <div class="number-box">
                <strong class="featured-number text-lightblue-400">108</strong>
                <p class="desc">
                    the number of <span class="text-lightblue-400">participants</span> <br>
                    of the 16th Vaccinology Course
                </p>
            </div>
            <div class="number-box">
                <strong class="featured-number text-lightblue-400">25</strong>
                <p class="desc">
                    the number of <span class="text-lightblue-400">nationalities</span> <br>
                    of participants <br>
                    in the 16th Vaccinology Course
                </p>
            </div>
        </div>
        <div class="col-2_3">
            <img class="img-box" src="/images/capacity-img-02@2x-min.jpg" alt="capacity-img-02">
            <div class="img-caption">
                Dr. Jean William Pape, Cornell University Professor of Medicine and founder of GHESKIO medical clinics in Haiti, was the keynote speaker.
            </div>
            <p class="disease-content text-white">
                One of the oldest vaccinology courses in Asia, IVI’s Vaccinology Course has trained more than 1,000 people.  The week-long course promotes vaccine sustainability in developing countries by training early- to mid-career vaccine professionals from low- and middle-income countries (LMICs) and fosters development of collaborative networks and partnerships among LMICs. <br>
                <br>
                The 16th Vaccinology Course had 108 participants of 25 different nationalities. Twenty-six experts from international agencies (e.g., IVI, World Health Organization); research institutions (e.g., U.S. National Institutes of Health); universities (e.g., London School of Hygiene & Tropical Medicine); industry, and non-profit organizations served as faculty members. Course evaluations from the participants found the quality of the course overall to be high. Planning is underway for the 17th Vaccinology Course, scheduled on September 4-8, 2017 at IVI.
            </p>
        </div>
    </div>
    <div class="row-default margin-bottom-60px">
        <div class="col-1_3 col-right-space">
            <div class="card-title-box bg-deepblue-300 border-top-cyan-200">
                <h4 class="card-title">Vaccine Safety</h4>
                <img class="card-icon" src="/images/shield-icon@2x-min.png" alt="vaccine-safety-icon" width="110" height="124">
            </div>
        </div>
        <div class="col-2_3">
            <p class="disease-content text-white">
                IVI developed a new software tool, the Vaccine Adverse Events Information Management System (VAEIMS) for the WHO Global Vaccine Safety Initiative (GVSI), of which IVI is a participating partner. VAEIMS was developed by IVI to efficiently transfer vaccine safety data from periphery health care centers to a central database. This will help improve reporting, monitoring, and management of vaccine safety data by public health authorities, enabling them to respond more quickly to public vaccine safety issues. <br>
                <br>
                Following its pilot launch in Sri Lanka in 2015, the tool was rolled out in Chile and Iran in 2016. Based on positive feedback from the countries, there are plans to expand VAIEMS such as developing an online version.
            </p>
        </div>
    </div>
    <div class="row-default margin-bottom-60px">
        <div class="col-1_3 col-right-space">
            <div class="card-title-box bg-cyan-500 border-top-blue-200">
                <h4 class="card-title">Vaccine Safety</h4>
                <img class="card-icon-rightfit" src="/images/partnership-icon@2x-min.png" alt="vaccine-safety-icon" width="156" height="90">
            </div>
        </div>
        <div class="col-2_3">
            <p class="disease-content text-white">
                In December 2016, <strong class="text-cyan-500">an IVI branch lab was inaugurated in Andong City, Gyeongbuk Province, South Korea.</strong> This is part of a collaboration between IVI and the provincial government to develop an emerging biomedical cluster in the region. The lab will be used for vaccine evaluation and for training Korean scientists. <br>
                <br>
                <strong class="text-cyan-500">IVI is partnering with Incheon National University</strong> (INU; a public national university based in Incheon, South Korea) to develop a global Master’s in vaccinology program in collaboration with University of Siena  <br>
                <br>
                <strong class="text-cyan-500">IVI is partnering with Yonsei University</strong> (among the top three universities in South Korea) for its Global Health Security Agenda (GHSA) Master’s Program, which will be launched in 2017. Funded by the Korean International Cooperation Agency (KOICA) and hosted by Yonsei University, this new graduate program will train health professionals from developing countries in global public health. IVI will provide lecturers and project advisors for the program.
            </p>
        </div>
    </div>
</div>
<section class="impact-titlepage">
    <div class="row-default row-920px">
        <h2 class="chapter-title-xlarge text-lightblue-500">
            Impact
        </h2>
        <h3 class="chapter-subtitle-medium text-white">
            In 2016, IVI scientists authored or co-authored 93 articles that were published in peer-reviewed scientific journals, among which 84 were in Scientific Citation Index (SCI) journals.  Some articles were published in journals with a high impact factor such as <span class="text-italic">The New England Journal of Medicine and Nature Medicine.</span>
        </h3>
    </div>
    <div class="row-default row-724px">
        <div class="col-impact-1_2 col-impact-right-space">
            <div class="number-box">
                <strong class="featured-number text-lightblue-500">93</strong>
                <p class="desc">
                    the number of <span class="text-lightblue-500">articles</span> published <br>
                    in peer-reviewed scientific journals
                </p>
            </div>
        </div>
        <div class="col-impact-1_2">
            <div class="number-box">
                <strong class="featured-number text-lightblue-500">84</strong>
                <p class="desc">
                    Scientific Citation Index (SCI) journals
                </p>
            </div>
        </div>
    </div>
    <div class="row-default">
        <div class="chapter-link-caption">
            To see the publications,
        </div>
        <button type="button" class="btn-basic">
            <i class="material-icons">drafts</i> Annual Letter
        </button>
    </div>
</section>
<section class="impact-contentpage">
    <div class="row-default">
        <h3 class="chapter-title-medium text-white">
            Impact of the Oral Cholera Vaccine
        </h3>
        <p class="content text-white">
            A global cholera vaccine stockpile, managed by WHO, was created in 2013 using the oral cholera vaccines developed by IVI.  The stockpile created a market for oral cholera vaccines, which did not exist before. It is estimated >4 million doses of the vaccine have been deployed in epidemic and endemic situations in 12 countries so far (India, Bangladesh, Ethiopia, Malawi, Iraq, South Sudan, Haiti, Tanzania, Cameroon, Guinea, Nepal, and Democratic Republic of Congo). <br>
            <br>
            Globally, OCV production was low, with demand exceeding supply. The WHO had to turn down requests from countries for supplies of vaccines that could not be filled because of the shortage. <br>
            <br>
            That all changed in December 2015 when Euvichol® was approved by the WHO Prequalification Program. The addition of another cholera vaccine producer is expected to double global supply to 6 million doses for 2016, with potential for further increased production in the future. More importantly, the extra capacity will contribute to reversing the cycle of low demand, low production, high price and inequitable distribution to one of increased demand, increased production, reduced price and increased access. <br>
            <br>
            While supply has increased, there is room for improvement in uptake of the vaccine. Funders, policymakers and countries have cited the need for more advocacy and evidence on use of the vaccine in real-life situations to support decision-making on vaccine introduction.  
        </p>
    </div>
</section>





















<div class="wrapper" style="padding: 20px; margin-top: 700px;">
    <p>
        We also work on optimizing vaccine use. The oral cholera vaccine is administered in two doses over a 14-day interval however a single-dose regimen would be advantageous for outbreaks, refugee camps and other emergency situations. IVI is partnering with icddr,b on a single-dose study in Bangladesh. Subjects were followed up six months after vaccination, showing <a href="#" class="text-link">the single dose is mildly protective for all cholera cases while more protective for severe cholera</a>. Follow-ups will continue to be made at 12 months, 18 months and 24 months.
    </p>
    <div class="disease-section-title" style="margin: 20px 0px;">
        Middle East Respiratory Syndrome<br>
        (MERS)
    </div>
    <div class="disease-section-subtitle" style="margin: 20px 0px;">
        The Typhoid Program aims to accelerate the development and introduction of new-generation typhoid vaccines in two ways: <strong class="text-bold">1) development of new typhoid conjugate vaccines in collaboration with manufacturers;</strong> and <strong class="text-bold">2) generation of evidence on the burden of typhoid in Africa.</strong>
    </div>
    <div class="disease-nav-title" style="margin: 20px 0px;">
        disease-nav-desc
    </div>
    <div class="disease-nav-desc" style="margin: 20px 0px;">
        We accelerate the development and delivery of oral cholera vaccines against epidemic and endemic cholera.
    </div>
    <div class="chapter-link-caption" style="background: lightgrey; margin: 20px 0px;">
        Dear Friends,
    </div>
    <div class="chapter-title-xlarge" style="margin: 20px 0px;">
        Impact
    </div>
    <div class="chapter-title-large" style="margin: 20px 0px;">
        Vaccine Development & Delivery
    </div>
    <div class="chapter-title-medium" style="background: lightgrey; margin: 20px 0px;">
        Impact of the Oral Cholera Vaccine
    </div>
    <div class="chapter-title-small" style="margin: 20px 0px;">
        Discover, develop and deliver safe effective and <br>
        affordable vaccines  for global public health
    </div>
    <div class="chapter-subtitle-large" style="background: lightgrey; margin: 20px 0px;">
        We help build knowledge in the vaccine spectrum<br>
        through training, technology transfer, technical assistance,<br>
        and educational partnerships.
    </div>
    <div class="chapter-subtitle-medium" style="background: lightgrey; margin: 20px 0px;">
        In 2016, IVI scientists authored or co-authored 93 articles that were published in peer-reviewed scientific journals, among which 84 were in Scientific Citation Index (SCI) journals.  Some articles were published in journals with a high impact factor such as <strong class="text-italic">The New England Journal of Medicine and Nature Medicine.</strong>
    </div>
    <div class="chapter-subtitle-small" style="background: lightgrey; margin: 20px 0px;">
        See the rest of our leadership <a href="#" class="text-link text-purple-900">here</a><br>
        <a href="#" class="text-link text-purple-900">Our Board of Trustees</a><br>
        <a href="#" class="text-link text-purple-900">Our Scientific Advisory Group</a>
    </div>
    <div class="chapter-subtitle-xsmall" style="margin: 20px 0px;">
        2016 Financial Summary
    </div>
    <div class="img-caption" style="margin: 20px 0px;">
        In 2016, IVI and GeneOne Life Sciences signed a collaboration and access <a href="#" class="text-link">agreement</a> to support GeneOne’s MERS DNA vaccine candidate.
    </div>
</div>