.btn-basic {
    display: block;
    padding: 12px 35px 16px 35px;
    color: $white;
    font-size: $ft-size-1;
    text-align: center;

    .material-icons {
        margin-right: 5px;
        font-size: $ft-size-2;
        vertical-align: middle;
    }
}

.number-box {
    background: $white;
    padding: 20px 25px 34px 25px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

    .featured-number {
        font-size: $ft-size-9;
        font-weight: 300;
        line-height: 1.45em;
        margin-bottom: 5px;
    }

    .featured-number-caption {
        font-size: $ft-size-2;
        font-weight: 300;
        color: $cyan-400;
        margin-left: 5px;
    }

    .desc {
        font-size: $ft-size-1;
        font-weight: 300;
        line-height: 1.375em;
        color: $grey-700;
    }
}

.shadow-separator {
    width: 100%;
    height: 60px;               
    box-shadow: inset  0  8px 8px -8px rgba(0, 0, 0, 0.2); 
}

.disease-content-title {
    font-size: $ft-size-3;
    font-weight: 600;
    color: $cyan-400;
    padding-top: 12px;
    border-top: 3px solid $cyan-400;
    margin-bottom: 40px;
}

.special-quote {
    margin: 30px 0;

    .quote-icon {
        width: 24px;
        height: auto;
    }

    .quote-content {
        font-size: $ft-size-3;
        font-weight: 300;
        line-height: 1.35em;
        color: $purple-900;
        margin: 10px 0 13px 0;
    }
}

.card-title-box {
    width: 100%;
    min-height: 230px;
    padding: 17px 23px;
    box-sizing: border-box;
    border-top-width: 4px;
    border-top-style: solid;
    position: relative;
}

.card-title {
    color: $white;
    font-size: $ft-size-4;
    line-height: 1.4em;
}

.card-icon {
    position: absolute;
    right: 18px;
    bottom: 0;
}

.card-icon-rightfit {
    position: absolute;
    right: 0px;
    bottom: 24px;
}