html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.row-default {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px; }

.row-default:after {
  content: "";
  display: table;
  clear: both; }

.row-620px {
  max-width: 620px; }

.row-724px {
  max-width: 724px; }

.row-735px {
  max-width: 735px; }

.row-920px {
  max-width: 920px; }

.col-1_2 {
  width: 48.64%;
  float: left; }

.col-1_3 {
  width: 31.52%;
  float: left; }

.col-2_3 {
  width: 65.76%;
  float: left; }

.col-right-space {
  margin-right: 2.72%; }

.colincol-1_2 {
  width: 47.2%;
  float: left; }

.colincol-right-space {
  margin-right: 5.6%; }

.col-impact-1_2 {
  width: 47.9%;
  float: left; }

.col-impact-right-space {
  margin-right: 4.2%; }

.margin-bottom-10px {
  margin-bottom: 10px; }

.margin-bottom-20px {
  margin-bottom: 20px; }

.margin-bottom-30px {
  margin-bottom: 30px; }

.margin-bottom-40px {
  margin-bottom: 40px; }

.margin-bottom-50px {
  margin-bottom: 50px; }

.margin-bottom-60px {
  margin-bottom: 60px; }

.margin-bottom-70px {
  margin-bottom: 70px; }

.margin-bottom-80px {
  margin-bottom: 80px; }

.margin-bottom-90px {
  margin-bottom: 90px; }

.margin-bottom-100px {
  margin-bottom: 100px; }

.bg-lightgrey {
  background: #f2f2f2; }

.bg-less-lightgrey {
  background: #eaeaea; }

.bg-lightblue-400 {
  background-color: #00cefc; }

.bg-purple-900 {
  background-color: #141c84; }

.bg-deepblue-300 {
  background-color: #00a3fe; }

.bg-cyan-500 {
  background-color: #2071ff; }

.border-top-lightblue-200 {
  border-top-color: #b6eeff; }

.border-top-cyan-200 {
  border-top-color: #b4e4ff; }

.border-top-blue-200 {
  border-top-color: #91c1ff; }

.img-box {
  width: 100%; }

.img-caption {
  margin-bottom: 30px; }

.disease-part {
  padding: 56px 0 67px 0; }
  .disease-part .number-box {
    margin-bottom: 20px; }

.disease-section-title {
  margin-top: 92px;
  margin-bottom: 6px; }

.disease-main-img {
  display: block;
  width: 85%;
  height: auto;
  margin: 0 auto 20px auto; }

.disease-content {
  margin-bottom: 25px; }

.btn-basic {
  display: block;
  padding: 12px 35px 16px 35px;
  color: #ffffff;
  font-size: 1rem;
  text-align: center; }
  .btn-basic .material-icons {
    margin-right: 5px;
    font-size: 1.125rem;
    vertical-align: middle; }

.number-box {
  background: #ffffff;
  padding: 20px 25px 34px 25px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); }
  .number-box .featured-number {
    font-size: 3.125rem;
    font-weight: 300;
    line-height: 1.45em;
    margin-bottom: 5px; }
  .number-box .featured-number-caption {
    font-size: 1.125rem;
    font-weight: 300;
    color: #00a4ff;
    margin-left: 5px; }
  .number-box .desc {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.375em;
    color: #4a4a4a; }

.shadow-separator {
  width: 100%;
  height: 60px;
  box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.2); }

.disease-content-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #00a4ff;
  padding-top: 12px;
  border-top: 3px solid #00a4ff;
  margin-bottom: 40px; }

.special-quote {
  margin: 30px 0; }
  .special-quote .quote-icon {
    width: 24px;
    height: auto; }
  .special-quote .quote-content {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.35em;
    color: #141c84;
    margin: 10px 0 13px 0; }

.card-title-box {
  width: 100%;
  min-height: 230px;
  padding: 17px 23px;
  box-sizing: border-box;
  border-top-width: 4px;
  border-top-style: solid;
  position: relative; }

.card-title {
  color: #ffffff;
  font-size: 1.375rem;
  line-height: 1.4em; }

.card-icon {
  position: absolute;
  right: 18px;
  bottom: 0; }

.card-icon-rightfit {
  position: absolute;
  right: 0px;
  bottom: 24px; }

body, html {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.45em;
  color: #333333; }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.text-link {
  color: #00a4ff;
  text-decoration: underline; }

.text-bold {
  font-weight: 600; }

.text-italic {
  font-style: italic; }

.text-purple-900 {
  color: #141c84; }

.text-cyan-500 {
  color: #2071ff; }

.text-cyan-400 {
  color: #00a4ff; }

.text-lightblue-400 {
  color: #00cefc; }

.text-lightblue-500 {
  color: #00b1ef; }

.text-white {
  color: #ffffff; }

.img-caption {
  font-size: 0.875rem;
  font-style: italic;
  color: #9b9b9b;
  line-height: 1.36em; }

.disease-section-title {
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 1.11em;
  color: #141c84; }

.disease-section-subtitle {
  font-size: 1.375rem;
  font-weight: 300;
  font-style: italic;
  color: #141c84;
  line-height: 1.4em;
  margin-bottom: 40px; }

.disease-nav-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #141c84;
  text-align: center; }

.disease-nav-desc {
  font-size: 0.875rem;
  line-height: 1.36em;
  text-align: center; }

.chapter-link-caption {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  color: #ffffff; }

.chapter-title-xlarge {
  font-size: 5.625rem;
  font-weight: 300;
  line-height: 1.2em;
  text-align: center;
  color: #00b1ef; }

.chapter-title-large {
  font-size: 3.125rem;
  font-weight: 300;
  line-height: 1.2em;
  text-align: center;
  color: #00b1ef; }

.chapter-title-medium {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.36em;
  text-align: center;
  color: #ffffff; }

.chapter-title-small {
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 1.36em;
  text-align: center;
  color: #7178d4; }

.chapter-subtitle-large {
  font-size: 1.5rem;
  line-height: 1.375em;
  text-align: center;
  color: #ffffff; }

.chapter-subtitle-medium {
  font-size: 1.375rem;
  line-height: 1.363em;
  text-align: center;
  color: #ffffff; }

.chapter-subtitle-small {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.56em;
  text-align: center;
  color: #ffffff; }

.chapter-subtitle-xsmall {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  color: #00a4ff; }

body, html {
  height: 100%; }

button {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0; }

.intro-part {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("/images/intro-bg-min.jpg");
  background-color: #141c84;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .intro-part .slogan {
    position: absolute;
    top: 42%; }
    .intro-part .slogan img {
      width: 488px;
      height: auto; }
  .intro-part .btn-scroll {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 59px;
    margin: 0 auto; }
    .intro-part .btn-scroll img {
      width: 59px;
      height: auto; }
  .intro-part .logo-area {
    padding: 49px 0 0 0; }
    .intro-part .logo-area .ivi-logo {
      float: left;
      margin-bottom: 20px; }
      .intro-part .logo-area .ivi-logo img {
        width: 250px;
        height: auto; }
    .intro-part .logo-area .impact-20-logo {
      float: right;
      margin-bottom: 20px; }
      .intro-part .logo-area .impact-20-logo img {
        width: 93px;
        height: auto; }
  .intro-part .logo-area:after {
    content: "";
    display: table;
    clear: both; }

.global-nav {
  display: none; }

.annual-letter {
  width: 100%;
  min-height: 320px;
  padding: 54px 0px;
  box-sizing: border-box;
  background-image: url("/images/annual-letter-bg@2x-min.png");
  background-color: #141c84;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .annual-letter .chapter-title-small {
    margin: 0 auto 36px auto; }
  .annual-letter .btn-basic {
    background: #272f9e;
    margin: 11px auto 0 auto; }

.development-part-01 {
  width: 100%;
  min-height: 700px;
  padding: 245px 0 40px 0;
  box-sizing: border-box;
  background-image: url("/images/development-delivery-bg@2x-min.jpg");
  background-color: #141c84;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; }
  .development-part-01 .chapter-subtitle-large {
    margin-top: 20px; }
  .development-part-01 .btn-scroll {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin: 0 auto; }
    .development-part-01 .btn-scroll img {
      width: 100px;
      height: auto; }

.development-part-02 .content {
  margin-top: 20px;
  margin-bottom: 40px; }

.development-part-02 .number-box {
  margin-bottom: 20px; }

.development-part-03 .section-nav .thumb {
  display: block;
  width: 160px;
  height: 160px;
  margin: 0 auto 23px auto; }

.development-part-03 .section-nav .disease-nav-title {
  margin-bottom: 5px; }

.development-part-03 .section-nav .disease-nav-desc {
  min-height: 120px; }

.development-part-03 .section-nav .btn-scroll {
  display: block;
  width: 46px;
  margin: 0 auto 40px auto; }
  .development-part-03 .section-nav .btn-scroll img {
    width: 46px;
    height: auto; }

.capacity-building-contentpage {
  padding-top: 67px;
  padding-bottom: 40px; }
  .capacity-building-contentpage .card-title-box {
    margin-bottom: 20px; }
  .capacity-building-contentpage .number-box {
    margin-bottom: 30px; }

.capacity-building-titlepage {
  width: 100%;
  min-height: 700px;
  padding: 245px 0 40px 0;
  box-sizing: border-box;
  background-image: url("/images/capacity-building-bg@2x-min.jpg");
  background-color: #141c84;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; }
  .capacity-building-titlepage .chapter-subtitle-large {
    margin-top: 20px; }
  .capacity-building-titlepage .btn-scroll {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin: 0 auto; }
    .capacity-building-titlepage .btn-scroll img {
      width: 100px;
      height: auto; }

.impact-titlepage {
  width: 100%;
  padding: 112px 0 110px 0;
  box-sizing: border-box;
  background-image: url("/images/impact-bg-01@2x-min.jpg");
  background-color: #141c84;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; }
  .impact-titlepage .chapter-title-xlarge {
    margin-bottom: 11px; }
  .impact-titlepage .chapter-subtitle-medium {
    margin-bottom: 40px; }
  .impact-titlepage .btn-basic {
    background: #00b1ef;
    margin: 11px auto 0 auto; }
  .impact-titlepage .number-box {
    min-height: 172px;
    box-sizing: border-box;
    margin-bottom: 20px; }
  .impact-titlepage .chapter-link-caption {
    margin-top: 50px; }

.impact-contentpage {
  width: 100%;
  padding: 47px 0 53px 0;
  box-sizing: border-box;
  background-image: url("/images/impact-bg-02@2x-min.png");
  background-color: #141c84;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  position: relative; }
  .impact-contentpage .chapter-title-medium {
    text-align: left;
    margin-bottom: 24px; }

@media only screen and (max-width: 768px) {
  html, body {
    font-size: 14px; }
  .col-1_2, .col-1_3, .col-2_3, .col-impact-1_2 {
    width: 100%; }
  .col-right-space, .col-impact-right-space {
    margin-right: 0; }
  .row-default {
    padding: 0 15px; }
  .disease-section-title {
    margin-top: 10px;
    margin-bottom: 6px; }
  .disease-main-img {
    width: 50%; }
  .impact-titlepage .number-box {
    min-height: 0; }
  .development-part-03 .section-nav .thumb {
    width: 130px;
    height: 130px; }
  .development-part-03 .section-nav .btn-scroll {
    display: block;
    width: 38px;
    height: 38px;
    margin: 0 auto 40px auto; }
    .development-part-03 .section-nav .btn-scroll img {
      width: 38px;
      height: 38px; } }

@media only screen and (max-width: 650px) {
  .intro-part .slogan img {
    width: 400px; } }

@media only screen and (max-width: 540px) {
  .development-part-01 {
    padding-top: 150px; } }

@media only screen and (max-width: 500px) {
  .intro-part .slogan img {
    width: 300px; } }

@media only screen and (max-width: 450px) {
  .disease-main-img {
    width: 65%; }
  .intro-part .logo-area .ivi-logo {
    clear: both; }
  .intro-part .logo-area .impact-20-logo {
    float: left;
    clear: both; } }

@media only screen and (max-width: 320px) {
  .intro-part .logo-area .ivi-logo img {
    width: 200px;
    height: auto; }
  .intro-part .logo-area .impact-20-logo img {
    width: 74.4px;
    height: auto; }
  .intro-part .btn-scroll {
    width: 47.2px; }
    .intro-part .btn-scroll img {
      width: 47.2px;
      height: auto; }
  .intro-part .slogan img {
    width: 250px; } }

/*# sourceMappingURL=style.css.map */