html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.row-default {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px; }

.row-default:after {
  content: "";
  display: table;
  clear: both; }

.row-620px {
  max-width: 620px; }

.row-724px {
  max-width: 724px; }

.row-735px {
  max-width: 735px; }

.row-800px {
  max-width: 800px; }

.row-920px {
  max-width: 920px; }

.col-1_2 {
  width: 48.64%;
  float: left; }

.col-1_3 {
  width: 31.52%;
  float: left; }

.col-2_3 {
  width: 65.76%;
  float: left; }

.col-right-space {
  margin-right: 2.72%; }

.colincol-1_2 {
  width: 47.2%;
  float: left; }

.colincol-right-space {
  margin-right: 5.6%; }

.col-impact-1_2 {
  width: 47.9%;
  float: left; }

.col-leadership-1_3 {
  width: 32.73%;
  float: left; }

.col-60 {
  width: 60%;
  float: left; }

.col-45 {
  width: 45%;
  float: left; }

.col-35 {
  width: 35%; }

.col-65 {
  width: 65%; }

.col-45-right-space {
  margin-right: 10%; }

.col-leadership-right-space {
  margin-right: 0.905%; }

.col-impact-right-space {
  margin-right: 4.2%; }

.margin-bottom-0px {
  margin-bottom: 0; }

.margin-bottom-10px {
  margin-bottom: 10px; }

.margin-bottom-20px {
  margin-bottom: 20px; }

.margin-bottom-30px {
  margin-bottom: 30px; }

.margin-bottom-40px {
  margin-bottom: 40px; }

.margin-bottom-50px {
  margin-bottom: 50px; }

.margin-bottom-60px {
  margin-bottom: 60px; }

.margin-bottom-70px {
  margin-bottom: 70px; }

.margin-bottom-80px {
  margin-bottom: 80px; }

.margin-bottom-90px {
  margin-bottom: 90px; }

.margin-bottom-100px {
  margin-bottom: 100px; }

.padding-left-10px {
  padding-left: 10px; }

.padding-left-20px {
  padding-left: 20px; }

.padding-top-23px {
  padding-top: 23px; }

.padding-top-13px {
  padding-top: 13px; }

.bg-lightgrey {
  background: #f2f2f2; }

.bg-less-lightgrey {
  background: #eaeaea; }

.bg-lightblue-450 {
  background-color: #20C9FF; }

.bg-lightblue-400 {
  background-color: #00cefc; }

.bg-lightblue-300 {
  background-color: #9deeff; }

.bg-lightblue-200 {
  background-color: #b6eeff; }

.bg-purple-900 {
  background-color: #141c84; }

.bg-deepblue-300 {
  background-color: #00a3fe; }

.bg-deepblue-500 {
  background-color: #008bd9; }

.bg-deepblue-600 {
  background-color: #00649f; }

.bg-deepblue-700 {
  background-color: #00436d; }

.bg-cyan-500 {
  background-color: #2071ff; }

.bg-teal-300 {
  background-color: #24dbae; }

.border-top-cyan-200 {
  border-top-color: #b4e4ff; }

.border-top-cyan-400 {
  border-top-color: #00a4ff; }

.border-top-blue-200 {
  border-top-color: #91c1ff; }

.border-top-lightblue-450 {
  border-top-color: #20C9FF; }

.border-top-lightblue-300 {
  border-top-color: #9deeff; }

.border-top-lightblue-200 {
  border-top-color: #b6eeff; }

.img-box {
  width: 100%; }

.img-caption {
  margin-bottom: 30px; }

.disease-part {
  padding: 56px 0 67px 0; }
  .disease-part .number-box {
    margin-bottom: 20px; }

.disease-section-title {
  margin-top: 92px;
  margin-bottom: 6px; }

.disease-main-img {
  display: block;
  width: 85%;
  height: auto;
  margin: 0 auto 20px auto; }

.disease-content {
  margin-bottom: 25px; }

.width-60 {
  width: 60%; }

.width-20 {
  width: 20%; }

.btn-basic {
  display: block;
  padding: 12px 35px 16px 35px;
  color: #ffffff;
  font-size: 1rem;
  text-align: center; }
  .btn-basic .material-icons {
    margin-right: 5px;
    font-size: 1.125rem;
    vertical-align: middle; }

.number-box {
  background: #ffffff;
  padding: 20px 25px 34px 25px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); }
  .number-box .featured-number {
    font-size: 3.125rem;
    font-weight: 300;
    line-height: 1.45em;
    margin-bottom: 5px; }
  .number-box .featured-number-caption {
    font-size: 1.125rem;
    font-weight: 300;
    color: #00a4ff;
    margin-left: 5px; }
  .number-box .desc {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.375em;
    color: #4a4a4a; }

.shadow-separator {
  width: 100%;
  height: 60px;
  box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.2); }

.content-title {
  font-size: 1.25rem;
  font-weight: 600;
  padding-top: 12px;
  border-top-width: 3px;
  border-top-style: solid;
  margin-bottom: 40px; }

.special-quote {
  margin: 30px 0; }
  .special-quote .quote-icon {
    width: 24px;
    height: auto; }
  .special-quote .quote-content {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.35em;
    color: #141c84;
    margin: 10px 0 13px 0; }

.card-title-box {
  width: 100%;
  min-height: 230px;
  padding: 17px 23px;
  box-sizing: border-box;
  border-top-width: 4px;
  border-top-style: solid;
  position: relative; }

.card-title {
  color: #ffffff;
  font-size: 1.375rem;
  line-height: 1.4em; }

.card-icon {
  position: absolute;
  right: 18px;
  bottom: 0; }

.card-icon-rightfit {
  position: absolute;
  right: 0px;
  bottom: 24px; }

.leadership-thumb {
  width: 100%;
  display: block; }

.leadership-info {
  background-color: #0055a0;
  padding: 8px 16px;
  min-height: 85px;
  box-sizing: border-box;
  margin-bottom: 10px; }

.leadership-name {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.44em;
  color: #ffffff; }

.leadership-desc {
  font-size: 0.875rem;
  line-height: 1.64em;
  color: #67b8ff; }

.finances-box {
  background-color: #ffffff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.22);
  padding: 35px 20px 20px 20px;
  margin-bottom: 20px; }

.finances-table {
  width: 100%; }
  .finances-table th {
    font-size: 0.9375rem;
    font-weight: 600;
    color: #00a4ff;
    padding-bottom: 9px;
    border-bottom: 1px solid #00a4ff; }
  .finances-table td {
    font-size: 0.875rem;
    padding-top: 10px; }

.finances-title {
  font-size: 0.9375rem;
  font-weight: 600;
  color: #00a4ff;
  padding-bottom: 9px;
  border-bottom: 1px solid #00a4ff; }

.finances-piechart-box {
  width: 100%; }

.finances-piechart-box:after {
  content: "";
  display: table;
  clear: both; }

.finances-piechart {
  display: block;
  width: 100%;
  max-width: 268px;
  margin: 40px auto 0 auto; }

.finances-piechart-desc {
  font-size: 0.875rem;
  line-height: 1.93em;
  margin-top: 30px; }

.oval-glyph {
  display: inline-block;
  margin-right: 17px;
  width: 13px;
  height: 13px;
  border-radius: 6.5px; }

.oval-glyph-deepblue-300:before {
  content: "";
  display: inline-block;
  background-color: #00a3fe;
  margin-right: 17px;
  width: 13px;
  height: 13px;
  border-radius: 6.5px; }

.oval-glyph-deepblue-500:before {
  content: "";
  display: inline-block;
  background-color: #008bd9;
  margin-right: 17px;
  width: 13px;
  height: 13px;
  border-radius: 6.5px; }

.oval-glyph-deepblue-600:before {
  content: "";
  display: inline-block;
  background-color: #00649f;
  margin-right: 17px;
  width: 13px;
  height: 13px;
  border-radius: 6.5px; }

.oval-glyph-deepblue-700:before {
  content: "";
  display: inline-block;
  background-color: #00436d;
  margin-right: 17px;
  width: 13px;
  height: 13px;
  border-radius: 6.5px; }

.oval-glyph-lightblue-400:before {
  content: "";
  display: inline-block;
  background-color: #00cefc;
  margin-right: 17px;
  width: 13px;
  height: 13px;
  border-radius: 6.5px; }

.oval-glyph-lightblue-300:before {
  content: "";
  display: inline-block;
  background-color: #9deeff;
  margin-right: 17px;
  width: 13px;
  height: 13px;
  border-radius: 6.5px; }

.disease-table {
  background-color: #ffffff;
  width: 100%;
  font-size: 0.875rem;
  border: 1px solid #e0e0e0;
  margin-bottom: 20px; }
  .disease-table th {
    border: 1px solid #007ae3; }
  .disease-table td {
    border: 1px solid #e0e0e0; }
  .disease-table th, .disease-table .td-1 {
    padding: 10px 15px; }
  .disease-table .td-2 {
    padding: 10px 15px 10px 30px; }
  .disease-table th {
    background-color: #0089ff;
    color: #ffffff;
    font-size: 1rem; }
  .disease-table ul {
    list-style-type: disc;
    list-style-position: outside; }

body, html {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.45em;
  color: #333333; }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.text-link {
  color: #00a4ff;
  text-decoration: underline; }

.text-bold {
  font-weight: 600; }

.text-italic {
  font-style: italic; }

.text-purple-900 {
  color: #141c84; }

.text-cyan-500 {
  color: #2071ff; }

.text-cyan-400 {
  color: #00a4ff; }

.text-lightblue-400 {
  color: #00cefc; }

.text-lightblue-450 {
  color: #20C9FF; }

.text-lightblue-500 {
  color: #00b1ef; }

.text-teal-300 {
  color: #24dbae; }

.text-white {
  color: #ffffff; }

.img-caption {
  font-size: 0.875rem;
  font-style: italic;
  color: #9b9b9b;
  line-height: 1.36em; }

.disease-section-title {
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 1.11em;
  color: #141c84; }

.disease-section-subtitle {
  font-size: 1.375rem;
  font-weight: 300;
  font-style: italic;
  color: #141c84;
  line-height: 1.4em;
  margin-bottom: 40px; }

.disease-nav-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #141c84;
  text-align: center; }

.disease-nav-desc {
  font-size: 0.875rem;
  line-height: 1.36em;
  text-align: center; }

.chapter-link-caption {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  color: #ffffff; }

.chapter-title-xlarge {
  font-size: 5.625rem;
  font-weight: 300;
  line-height: 1.2em;
  text-align: center;
  color: #00b1ef; }

.chapter-title-large {
  font-size: 3.125rem;
  font-weight: 300;
  line-height: 1.2em;
  text-align: center; }

.chapter-title-medium {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.36em;
  text-align: center;
  color: #ffffff; }

.chapter-title-small {
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 1.36em;
  text-align: center;
  color: #7178d4; }

.chapter-subtitle-large {
  font-size: 1.5rem;
  line-height: 1.375em;
  text-align: center;
  color: #ffffff; }

.chapter-subtitle-medium {
  font-size: 1.375rem;
  line-height: 1.363em;
  text-align: center;
  color: #ffffff; }

.chapter-subtitle-small {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.56em;
  text-align: center;
  color: #ffffff; }

.chapter-subtitle-xsmall {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  color: #00a4ff; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.global-nav {
  background-color: #047ce4; }
  .global-nav .row-default {
    border: 1px solid #006ac7;
    box-sizing: border-box;
    padding: 0; }
  .global-nav .menu-bar {
    width: 100%;
    font-size: 15px; }
  .global-nav .menu {
    display: block;
    float: left;
    width: 12.8%;
    height: 78px;
    background: url("/images/menu-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #047ce4;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff; }
  .global-nav .menu-last {
    display: block;
    float: left;
    width: 10.4%;
    height: 78px;
    background-color: #047ce4;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff; }

body, html {
  height: 100%; }

button {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0; }

.intro-part {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("/images/intro-bg-min.jpg");
  background-color: #141c84;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .intro-part .slogan {
    position: absolute;
    top: 42%; }
    .intro-part .slogan img {
      width: 488px;
      height: auto; }
  .intro-part .btn-scroll {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 59px;
    margin: 0 auto; }
    .intro-part .btn-scroll img {
      width: 59px;
      height: auto; }
  .intro-part .logo-area {
    padding: 49px 0 0 0; }
    .intro-part .logo-area .ivi-logo {
      float: left;
      margin-bottom: 20px; }
      .intro-part .logo-area .ivi-logo img {
        width: 250px;
        height: auto; }
    .intro-part .logo-area .impact-20-logo {
      float: right;
      margin-bottom: 20px; }
      .intro-part .logo-area .impact-20-logo img {
        width: 93px;
        height: auto; }
  .intro-part .logo-area:after {
    content: "";
    display: table;
    clear: both; }

.annual-letter {
  width: 100%;
  min-height: 320px;
  padding: 54px 0px;
  box-sizing: border-box;
  background-image: url("/images/annual-letter-bg@2x-min.png");
  background-color: #141c84;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .annual-letter .chapter-title-small {
    margin: 0 auto 36px auto; }
  .annual-letter .btn-basic {
    background: #272f9e;
    margin: 11px auto 0 auto; }

.development-part-01 {
  width: 100%;
  min-height: 700px;
  padding: 245px 0 40px 0;
  box-sizing: border-box;
  background-image: url("/images/development-delivery-bg@2x-min.jpg");
  background-color: #141c84;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; }
  .development-part-01 .chapter-subtitle-large {
    margin-top: 20px; }
  .development-part-01 .btn-scroll {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin: 0 auto; }
    .development-part-01 .btn-scroll img {
      width: 100px;
      height: auto; }

.development-part-02 .content {
  margin-top: 20px;
  margin-bottom: 40px; }

.development-part-02 .number-box {
  margin-bottom: 20px; }

.development-part-03 .section-nav .thumb {
  display: block;
  width: 160px;
  height: 160px;
  margin: 0 auto 23px auto; }

.development-part-03 .section-nav .disease-nav-title {
  margin-bottom: 5px; }

.development-part-03 .section-nav .disease-nav-desc {
  min-height: 120px; }

.development-part-03 .section-nav .btn-scroll {
  display: block;
  width: 46px;
  margin: 0 auto 40px auto; }
  .development-part-03 .section-nav .btn-scroll img {
    width: 46px;
    height: auto; }

.capacity-building-contentpage {
  padding-top: 67px;
  padding-bottom: 40px; }
  .capacity-building-contentpage .card-title-box {
    margin-bottom: 20px; }
  .capacity-building-contentpage .number-box {
    margin-bottom: 30px; }

.capacity-building-titlepage {
  width: 100%;
  min-height: 700px;
  padding: 245px 0 40px 0;
  box-sizing: border-box;
  background-image: url("/images/capacity-building-bg@2x-min.jpg");
  background-color: #141c84;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; }
  .capacity-building-titlepage .chapter-subtitle-large {
    margin-top: 20px; }
  .capacity-building-titlepage .btn-scroll {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin: 0 auto; }
    .capacity-building-titlepage .btn-scroll img {
      width: 100px;
      height: auto; }

.impact-titlepage {
  width: 100%;
  padding: 112px 0 110px 0;
  box-sizing: border-box;
  background-image: url("/images/impact-bg-01@2x-min.jpg");
  background-color: #141c84;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; }
  .impact-titlepage .chapter-title-xlarge {
    margin-bottom: 11px; }
  .impact-titlepage .chapter-subtitle-medium {
    margin-bottom: 40px; }
  .impact-titlepage .btn-basic {
    background: #00b1ef;
    margin: 11px auto 0 auto; }
  .impact-titlepage .number-box {
    min-height: 172px;
    box-sizing: border-box;
    margin-bottom: 20px; }
  .impact-titlepage .chapter-link-caption {
    margin-top: 50px; }

.impact-contentpage {
  width: 100%;
  padding: 47px 0 53px 0;
  box-sizing: border-box;
  background-image: url("/images/impact-bg-02@2x-min.png");
  background-color: #141c84;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  position: relative; }
  .impact-contentpage .chapter-title-medium {
    text-align: left;
    margin-bottom: 24px; }

.partners-titlepage {
  width: 100%;
  padding: 112px 0 110px 0;
  box-sizing: border-box;
  background-image: url("/images/partners-bg@2x-min.jpg");
  background-color: #141c84;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; }
  .partners-titlepage .chapter-title-large {
    margin-bottom: 20px; }
  .partners-titlepage .chapter-subtitle-large {
    margin-bottom: 70px; }
  .partners-titlepage .btn-basic {
    margin: 0 auto 0 auto; }

.donors-titlepage {
  width: 100%;
  padding: 147px 0 178px 0;
  box-sizing: border-box;
  background-image: url("/images/donors-bg@2x-min.jpg");
  background-color: #141c84;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; }
  .donors-titlepage .chapter-title-large {
    margin-bottom: 27px; }
  .donors-titlepage .chapter-subtitle-small {
    margin-bottom: 62px; }
  .donors-titlepage .btn-basic {
    margin: 0 auto 0 auto; }

.donors-contentpage {
  padding-top: 63px;
  padding-bottom: 63px;
  background-color: #f2f2f2; }
  .donors-contentpage .number-box {
    margin-bottom: 30px; }

.leadership-titlepage {
  width: 100%;
  padding: 118px 0 123px 0;
  box-sizing: border-box;
  background-image: url("/images/leadership-bg@2x-min.jpg");
  background-color: #141c84;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .leadership-titlepage .chapter-title-large {
    margin-bottom: 27px; }
  .leadership-titlepage .chapter-subtitle-small {
    margin-bottom: 62px; }
  .leadership-titlepage .btn-basic {
    margin: 0 auto 0 auto; }

.finances-titlepage {
  width: 100%;
  padding: 77px 0 200px 0;
  box-sizing: border-box;
  background-image: url("/images/finances-bg@2x-min.jpg");
  background-color: #141c84;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .finances-titlepage .chapter-title-large {
    margin-bottom: 0; }
  .finances-titlepage .chapter-subtitle-xsmall {
    margin-bottom: 70px; }

.footer {
  background-color: #141c84; }

.copyright {
  font-size: 0.875rem;
  color: #ffffff;
  margin: 20px 0; }

.footer-logo {
  display: block;
  width: 170px;
  float: left;
  margin: 20px 0; }

.donation-link {
  display: block;
  width: 150px;
  height: 50px;
  border-radius: 89px;
  background-color: #f98200;
  float: right;
  font-size: 1.125rem;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  padding-top: 11px;
  box-sizing: border-box;
  text-decoration: none;
  margin: 20px 0; }

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden; }

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px; }

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black; }

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none; }

@media only screen and (max-width: 900px) {
  .col-60, .col-20 {
    width: 100%; }
  .footer-logo {
    float: left; }
  .col-20:after {
    content: "";
    display: table;
    clear: both; } }

@media only screen and (max-width: 768px) {
  html, body {
    font-size: 14px; }
  .col-1_2, .col-1_3, .col-2_3, .col-impact-1_2, .col-leadership-1_3, .col-45 {
    width: 100%; }
  .col-right-space, .col-impact-right-space, .col-leadership-right-space, .col-45-right-space {
    margin-right: 0; }
  .row-default {
    padding: 0 15px; }
  .disease-section-title {
    margin-top: 10px;
    margin-bottom: 6px; }
  .disease-main-img {
    width: 50%; }
  .impact-titlepage .number-box {
    min-height: 0; }
  .development-part-03 .section-nav .thumb {
    width: 130px;
    height: 130px; }
  .development-part-03 .section-nav .btn-scroll {
    display: block;
    width: 38px;
    height: 38px;
    margin: 0 auto 40px auto; }
    .development-part-03 .section-nav .btn-scroll img {
      width: 38px;
      height: 38px; }
  .finances-piechart {
    margin: 30px auto 0 auto; } }

@media only screen and (max-width: 650px) {
  .intro-part .slogan img {
    width: 400px; } }

@media only screen and (max-width: 540px) {
  .development-part-01 {
    padding-top: 150px; } }

@media only screen and (max-width: 500px) {
  .intro-part .slogan img {
    width: 300px; } }

@media only screen and (max-width: 450px) {
  .disease-main-img {
    width: 65%; }
  .intro-part .logo-area .ivi-logo {
    clear: both; }
  .intro-part .logo-area .impact-20-logo {
    float: left;
    clear: both; } }

@media only screen and (max-width: 320px) {
  .intro-part .logo-area .ivi-logo img {
    width: 200px;
    height: auto; }
  .intro-part .logo-area .impact-20-logo img {
    width: 74.4px;
    height: auto; }
  .intro-part .btn-scroll {
    width: 47.2px; }
    .intro-part .btn-scroll img {
      width: 47.2px;
      height: auto; }
  .intro-part .slogan img {
    width: 250px; } }

/*# sourceMappingURL=style.css.map */