@import "reset";
@import "variables";
@import "layout";
@import "component";
@import "typography";
@import "nav";

body, html {
    height: 100%;
}

button {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
}

button:focus {
    outline:0;
}

.intro-part {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("/images/intro-bg-min.jpg");
    background-color: $purple-900;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .slogan {
        position: absolute;
        top: 40%;
        
        img {
            width: 488px;
            height: auto;
        }
    }

    .btn-scroll {
        position: absolute;
        left:0;
        right:0;
        bottom: 120px;
        margin-left:auto;
        margin-right:auto;
        width: 59px;
        margin: 0 auto;

        img {
            width: 59px;
            height: auto;
        }
    }

    .logo-area {
        padding: 49px 0 0 0;

        .ivi-logo {
            float: left;
            margin-bottom: 20px;

            img {
                width: 250px;
                height: auto;
            }
        }

        .impact-20-logo {
            float: right;
            margin-bottom: 20px;

            img {
                width: 93px;
                height: auto;
            }
        }
    }

    .logo-area:after {
        content: "";
        display: table;
        clear: both;
    }
}

.annual-letter {
    width: 100%;
    min-height: 320px;
    padding: 54px 0px;
    box-sizing: border-box;
    background-image: url("/images/annual-letter-bg@2x-min.png");
    background-color: $purple-900;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .chapter-title-small {
        margin: 0 auto 36px auto;
    }

    .btn-basic {
        background: $purple-500;
        margin: 11px auto 0 auto;
    }
}

.development-part-01 {
    width: 100%;
    min-height: 700px;
    padding: 245px 0 40px 0;
    box-sizing: border-box;
    background-image: url("/images/development-delivery-bg@2x-min.jpg");
    background-color: $purple-900;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    .chapter-subtitle-large {
        margin-top: 20px;
    }

    .btn-scroll {
        position: absolute;
        left:0;
        right:0;
        bottom: 40px;
        margin-left:auto;
        margin-right:auto;
        width: 100px;
        margin: 0 auto;

        img {
            width: 100px;
            height: auto;
        }
    }
}

.development-part-02 {

    .content {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .number-box {
        margin-bottom: 20px;
    }
}

.development-part-03 {

    .section-nav {

        .thumb {
            display: block;
            width: 160px;
            height: 160px;
            margin: 0 auto 23px auto;
        }

        .disease-nav-title {
            margin-bottom: 5px;
        }

        .disease-nav-desc {
            min-height: 120px;
        }

        .btn-scroll {
            display: block;
            width: 46px;
            margin: 0 auto 40px auto;

            img {
                width: 46px;
                height: auto;
            }
        }
    }
}

.capacity-building-contentpage {
    padding-top: 67px;
    padding-bottom: 40px;

    .card-title-box {
        margin-bottom: 20px;
    }

    .number-box {
        margin-bottom: 30px;
    }
}

.capacity-building-titlepage {
    width: 100%;
    min-height: 700px;
    padding: 245px 0 40px 0;
    box-sizing: border-box;
    background-image: url("/images/capacity-building-bg@2x-min.jpg");
    background-color: $purple-900;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    .chapter-subtitle-large {
        margin-top: 20px;
    }

    .btn-scroll {
        position: absolute;
        left:0;
        right:0;
        bottom: 40px;
        margin-left:auto;
        margin-right:auto;
        width: 100px;
        margin: 0 auto;

        img {
            width: 100px;
            height: auto;
        }
    }
}

.impact-titlepage {
    width: 100%;
    padding: 112px 0 110px 0;
    box-sizing: border-box;
    background-image: url("/images/impact-bg-01@2x-min.jpg");
    background-color: $purple-900;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    .chapter-title-xlarge {
        margin-bottom: 11px;
    }

    .chapter-subtitle-medium {
        margin-bottom: 40px;
    }

    .btn-basic {
        background: $lightblue-500;
        margin: 11px auto 0 auto;
    }

    .number-box {
        min-height: 172px;
        box-sizing: border-box;
        margin-bottom: 20px;
    }

    .chapter-link-caption {
        margin-top: 50px;
    }
}

.impact-contentpage {
    width: 100%;
    padding: 47px 0 53px 0;
    box-sizing: border-box;
    background-image: url("/images/impact-bg-02@2x-min.png");
    background-color: $purple-900;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    position: relative;

    .chapter-title-medium {
        text-align: left;
        margin-bottom: 24px;
    }
}

.partners-titlepage {
    width: 100%;
    padding: 112px 0 110px 0;
    box-sizing: border-box;
    background-image: url("/images/partners-bg@2x-min.jpg");
    background-color: $purple-900;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    .chapter-title-large {
        margin-bottom: 20px;
    }

    .chapter-subtitle-large {
        margin-bottom: 70px;
    }

    .btn-basic {
        margin: 0 auto 0 auto;
    }
}

.donors-titlepage {
    width: 100%;
    padding: 147px 0 178px 0;
    box-sizing: border-box;
    background-image: url("/images/donors-bg@2x-min.jpg");
    background-color: $purple-900;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    .chapter-title-large {
        margin-bottom: 27px;
    }

    .chapter-subtitle-small {
        margin-bottom: 62px;
    }

    .btn-basic {
        margin: 0 auto 0 auto;
    }
}

.donors-contentpage {
    padding-top: 63px;
    padding-bottom: 63px;
    background-color: $grey-100;

    .number-box {
        margin-bottom: 30px;
    }
}

.leadership-titlepage {
    width: 100%;
    padding: 118px 0 123px 0;
    box-sizing: border-box;
    background-image: url("/images/leadership-bg@2x-min.jpg");
    background-color: $purple-900;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .chapter-title-large {
        margin-bottom: 27px;
    }

    .chapter-subtitle-small {
        margin-bottom: 62px;
    }

    .btn-basic {
        margin: 0 auto 0 auto;
    }
}

.finances-titlepage {
    width: 100%;
    padding: 77px 0 200px 0;
    box-sizing: border-box;
    background-image: url("/images/finances-bg@2x-min.jpg");
    background-color: $purple-900;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .chapter-title-large {
        margin-bottom: 0;
    }

    .chapter-subtitle-xsmall {
        margin-bottom: 70px;
    }
}

.footer {
    background-color: $purple-900;
}

.copyright {
    font-size: $ft-size-0;
    color: $white;
    margin: 20px 0;
}

.footer-logo {
    display: block;
    width: 170px;
    float: left;
    margin: 20px 0;
}

.donation-link {
    display: block;
    width: 150px;
    height: 50px;
    border-radius: 89px;
    background-color: #f98200;
    float: right;
    font-size: $ft-size-2;
    font-weight: 600;
    color: $white;
    text-align: center;
    padding-top: 11px;
    box-sizing: border-box;
    text-decoration: none;
    margin: 20px 0;
}







/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}















@media only screen and (max-width: 1140px) {
    .global-nav {
        display: none;
    }

    .intro-part {
        .btn-scroll {
            bottom: 40px;
        }

        .logo-area {
            padding-top: 80px;
        }
    }

    .mobilenav {
        display: block;
    }
}

@media only screen and (max-width: 900px) {
    .col-60, .col-20 {
        width: 100%;
    }

    .footer-logo {
        float: left;
    }

    .col-20:after {
        content: "";
        display: table;
        clear: both;
    }
}

@media only screen and (max-width: 768px) {
    html, body {
        font-size: 14px;
    }

    .col-1_2, .col-1_3, .col-2_3, .col-impact-1_2, .col-leadership-1_3, .col-45 {
        width: 100%;
    }

    .col-right-space, .col-impact-right-space, .col-leadership-right-space, .col-45-right-space {
        margin-right: 0;
    }

    .row-default {
        padding: 0 15px;
    }

    .disease-section-title {
        margin-top: 10px;
        margin-bottom: 6px;
    }

    .disease-main-img {
        width: 50%;
    }

    .impact-titlepage {
        .number-box {
            min-height: 0;
        }
    }

    .development-part-03 {

        .section-nav {

            .thumb {
                width: 130px;
                height: 130px;
            }

            .btn-scroll {
                display: block;
                width: 38px;
                height: 38px;
                margin: 0 auto 40px auto;

                img {
                    width: 38px;
                    height: 38px;
                }
            }
        }
    }

    .finances-piechart {
        margin: 30px auto 0 auto;
    }
}

@media only screen and (max-width: 650px) {
    .intro-part {

        .slogan {

            img {
                width: 400px;
            }
        }
    }
}

@media only screen and (max-width: 540px) {
    .development-part-01 {
        padding-top: 150px;
    }
}

@media only screen and (max-width: 500px) {
    .intro-part {

        .slogan {

            img {
                width: 320px;
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .disease-main-img {
        width: 65%;
    }

    .intro-part {

        .logo-area {
            .ivi-logo {
                clear: both;
            }

            .impact-20-logo {
                float: left;
                clear: both;
            }
        }

        .slogan {
            top: 47.5%;
        }
    }
}

@media only screen and (max-width: 320px) {
    .intro-part {

        .logo-area {

            .ivi-logo img {
                width: 200px;
                height: auto;
            }

            .impact-20-logo img {
                width: 74.4px;
                height: auto;
            }
        }

        .slogan img {
            width: 280px;
        }

        .btn-scroll {
            width: 47.2px;

            img {
                width: 47.2px;
                height: auto;
            }
        }
    }
}