//폰트 사이즈
$ft-size-0: 0.875rem;
$ft-size-1: 1rem;
$ft-size-2: 1.125rem;
$ft-size-3: 1.25rem;
$ft-size-4: 1.375rem;
$ft-size-5: 1.5rem;
$ft-size-6: 1.75rem;
$ft-size-7: 2rem;
$ft-size-8: 2.375rem;
$ft-size-9: 3.125rem;
$ft-size-10: 5.625rem;

//컬러
$black: #000000;
$white: #ffffff;

$grey-900: #333333;
$grey-700: #4a4a4a;
$grey-500: #9b9b9b;
$grey-300: #e0e0e0;
$grey-200: #eaeaea;
$grey-100: #f2f2f2;

$deepblue-700: #00436d;
$deepblue-600: #00649f;
$deepblue-500: #008bd9;
$deepblue-300: #00a3fe;

$blue-700: #0055a0;
$blue-500: #006ac7;
$blue-400: #047ce4;
$blue-200: #91c1ff;

$cyan-500: #2071ff;
$cyan-400: #00a4ff;
$cyan-300: #67b8ff;
$cyan-200: #b4e4ff;

$lightblue-500: #00b1ef;
$lightblue-400: #00cefc;
$lightblue-300: #9deeff;
$lightblue-200: #b6eeff;

$purple-900: #141c84;
$purple-500: #272f9e;
$purple-300: #7178d4;

$teal-300: #24dbae;