//폰트 사이즈
$ft-size-0: 14px;
$ft-size-1: 16px;
$ft-size-2: 18px;
$ft-size-3: 20px;
$ft-size-4: 22px;
$ft-size-5: 24px;
$ft-size-6: 28px;
$ft-size-7: 32px;
$ft-size-8: 38px;
$ft-size-9: 50px;
$ft-size-10: 90px;

//컬러
$black: #000000;
$white: #ffffff;

$grey-900: #333333;
$grey-700: #4a4a4a;
$grey-500: #9b9b9b;
$grey-300: #e0e0e0;
$grey-200: #eaeaea;
$grey-100: #f2f2f2;

$deepblue-700: #00436d;
$deepblue-600: #00649f;
$deepblue-500: #008bd9;
$deepblue-300: #00a3fe;

$blue-700: #0055a0;
$blue-500: #006ac7;
$blue-400: #047ce4;
$blue-200: #91c1ff;

$cyan-500: #2071ff;
$cyan-400: #00a4ff;
$cyan-300: #67b8ff;
$cyan-200: #b4e4ff;

$lightblue-500: #00b1ef;
$lightblue-400: #00cefc;
$lightblue-300: #9deeff;
$lightblue-200: #b6eeff;

$purple-900: #141c84;
$purple-500: #272f9e;
$purple-300: #7178d4;

$teal-300: #24dbae;